:root {
  --mt-cards-grid-column-gap: 19px;
  --mt-cards-grid-row-gap: 19px;
  --mt-cards-grid-column-wide-gap: 30px;
  --mt-cards-grid-row-wide-gap: 35px;

  /* font sizes */
  --mt-cards-title-font-size: 21px;
  --mt-cards-text-font-size: 14px;
  --mt-cards-callout-text-font-size: 12px;

  /* font family */
  --mt-cards-font-family: var(--mt-body-font-family);

  /* font color */
  --mt-cards-title-font-color: var(--mt-global-color-base-primary);

  /* colors */
  --mt-cards-box-shadow-color: #1c1c4940;
  --mt-cards-callout-text-color: var(--mt-global-color-accent-primary);
  --mt-cards-text-color: var(--mt-global-color-accent-senary)
}

.cards {
  width: 1280px;
  display: flex;
  justify-content: center;
}

.cards > ul {
  list-style: none;
  width: 100%;
  align-content: flex-start;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  gap: var(--mt-cards-grid-row-gap) var(--mt-cards-grid-column-gap);
  grid-template-columns: repeat(1,1fr);
}

.cards.wideimage > ul {
  gap: var(--mt-cards-grid-row-wide-gap) var(--mt-cards-grid-column-wide-gap);
}

.cards a.button {
  width: auto;
}

.cards h3,
.cards h3 a {
  color: var(--mt-global-color-black);
}

.cards.block > ul > li {
  padding: 20px;
  box-shadow: 2px 12px 28px 0 var(--mt-cards-box-shadow-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  transition-property: background,border,box-shadow;
  transition-duration: .25s;
  align-items: center;
}

/* Center last child if it is the 4th card */
@media (min-width: 1050px) {
  .cards.cards.three-columns > ul  li:last-child:nth-child(3n+1):not(:only-of-type)  {
    grid-column: 2 / 3
  }
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards.wideimage img {
  width: 100%;
}

.cards.fullimage > ul > li img {
  object-fit: contain;
  height: 120px;
}

.cards.wideimage.block > ul > li {
  padding: 0;
}

.cards.block > ul > li:hover {
  box-shadow: 2px 4px 12px 0 var(--mt-cards-box-shadow-color);
}

.section.cards-container {
  padding: 0 5% 5%;
}

.section.cards-container .cards-wrapper {
  max-width: 767px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  flex-wrap: wrap;
}

.cards-wrapper > .cards.block > ul > li {
  position: relative;
  cursor: pointer;
}

.cards-card-image {
  margin-bottom: 20px;
  height: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  padding: 5% 5% 0;
}

.cards.wideimage .cards-card-image {
  overflow: hidden;
  align-items: center;
  padding: 0;
}

.cards.fullimage .cards-card-image {
  width: auto;
  aspect-ratio: auto;
}

.cards-card-image > picture {
  max-width: 90%;
  display: block;
}

.cards.wideimage .cards-card-image > picture {
  max-width: 100%;
  width: 100%;
}

.cards > ul > li > a >.cards-card-body {
  padding: 0 30px 50px;
}

.cards > ul > li > a >.cards-card-body.callout-hidden {
  padding: 0 30px;
}

.cards > ul > li > a >.cards-card-body.empty {
  padding: 0 30px;
}

.cards-card-body h1,
.cards-card-body h2,
.cards-card-body h3,
.cards-card-body h4,
.cards-card-body h5,
.cards-card-body h6,
.cards-card-body p {
  padding: 0;
  text-align: left;
}

.cards-card-body a.button {
  background: none;
  border: none;
  color: var(--mt-global-color-accent-primary);
  padding: 0;
}

.cards-card-body a.button:hover {
    background: none;
    border: none;
    color: var(--mt-button-hover-color);
}

.cards-card-body > p {
  font-weight: var(--mt-font-weight-regular);
  font-size: var(--mt-cards-text-font-size);
  font-family: var(--mt-cards-font-family);
  line-height: 1.5em;
  color: var(--mt-cards-text-color);
  text-align: center;
}

.cards-card-body > h1,
.cards-card-body > h1 > strong,
.cards-card-body > h2,
.cards-card-body > h2 > strong,
.cards-card-body > h3,
.cards-card-body > h3 > strong,
.cards-card-body.no-heading > p:first-of-type,
.cards-card-body.no-heading > p:first-of-type > strong{
  font-weight: var(--mt-font-weight-bold);
  font-size: var(--mt-cards-title-font-size);
  font-family: var(--mt-cards-font-family);
  color: var(--mt-cards-title-font-color);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 25px;
}

.cards > ul > li > a >.cards-card-body.callout-hidden h1 {
  margin: 5px 0;
}

.cards li:has(> div.cards-card-body.no-heading > strong > a:not(.button)) {
  padding: 25px 50px;
  justify-content: center;
}

.cards-card-body.no-heading > strong > a:not(.button) {
  font-size: var(--mt-cards-title-font-size);
}

.cards-card-body > p.callout {
  text-transform: uppercase;
  color: var(--mt-cards-callout-text-color);
  font-size: var(--mt-cards-callout-text-font-size);
  font-weight: var(--mt-font-weight-boldest);
  line-height: 1.5;
  margin-bottom: 0;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cards-card-body > p.callout.hidden {
  display: none;
}

@media (min-width: 768px) {
  .section.cards-container {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 3% 5%;
  }

  .section.cards-container .cards-wrapper {
    max-width: 1024px;
  }

  .cards > ul {
    list-style: none;
    width: 80%;
  }

  .cards.four-columns > ul {
    grid-template-columns: repeat(2,1fr);
    width: 100%;
  }
}

@media (min-width: 1025px) {
  .section.cards-container {
    padding: 0 5%;
    margin: 3% 0;
  }

  .section.cards-container .cards-wrapper {
    max-width: 1300px;
    flex-wrap: unset;
  }

  .cards > ul {
    list-style: none;
    width: 50%;
  }

  .cards.two-columns > ul {
    grid-template-columns: repeat(2,1fr);
    width: 100%;
  }

  .cards.three-columns > ul {
    grid-template-columns: repeat(3,1fr);
    width: 100%;
  }

  .cards.four-columns > ul {
    grid-template-columns: repeat(4,1fr);
    width: 100%;
  }
}
