h2.anchor-text{
   font-size: var(--mt-font-size-162);
   color: var(--mt-global-color-base-primary);
   font-weight: var(--mt-font-weight-regular);
   scroll-margin-top: 150px;
   padding: 5%;
   margin-bottom: 0;
   background-color: #ffffff;
}