:root {
    --form-font-size-m: 22px;
    --form-font-size-s: 18px;
    --form-font-size-xs: 16px;
    --form-container-padding: 5% 0 10%;
    --form-default-wrapper-line-height: 1.5;
    --form-wrapper-padding: 0 calc(5% + 8px);
    --form-wrapper-max-width: 740px;
    --form-wrapper-background-color: var(--mt-global-color-white);
    --form-columns: 1;
    --form-padding: 16px 0 10%;
    --form-grid-gap: 26px 32px;
    --form-max-width: 100%;
    --form-fieldset-columns:1;
    --form-fieldset-border: 0;
    --form-fieldset-marign: 0;
    --form-fieldset-padding: 0;
    --form-fieldset-grid-gap: var(--form-grid-gap);
    --form-fieldset-legend-padding: 0.5rem 0 1rem 0;
    --form-fieldset-legend-color: var(--mt-global-color-base-primary);
    --form-fieldset-legend-font-size: 28px;
    --form-fieldset-legend-font-weight: var(--mt-font-weight-boldest);
    --form-label-padding: 0.3rem 0 0;
    --form-label-color: var(--mt-global-color-charcoal);
    --form-label-font-size: var(--form-font-size-xs);
    --form-label-line-height: 1.2;
    --form-label-font-weight: bold;
    --form-input-margin: 1rem 0 0;
    --form-input-padding: 10px;
    --form-input-height: 46px;
    --form-input-font-size: var(--mt-font-size-100);
    --form-input-disable-color: var(--mt-global-color-silver);
    --form-input-border-size: 1px;
    --form-input-border-color: var(--mt-global-color-gallery);
    --form-input-background-color: var(--mt-global-color-alabaste);
    --form-button-color: var(--mt-background-color-primary);
    --form-button-font-size: var(--form-font-size-s);
    --form-button-background-color: var(--mt-global-color-accent-primary);
    --form-button-background-hover-color: var(--mt-global-color-blue-ribbon);
    --form-button-border: 2px solid transparent;
    --form-button-padding:15px 50px;
    --form-submit-wrapper-margin: 36px 0 0 0;
    --form-submit-width: 100%
}

main .section.form-container {
    padding: var(--form-container-padding);
    font-family: var(--mt-form-font-family);
    background-image: url('../../styles/icons/Mammotome-BG_Pattern-1.svg');
    background-position: top center;
    background-repeat: repeat;
    background-size: 60px auto;
}

main .form-container .default-content-wrapper {
    margin: auto;
    padding: var(--form-wrapper-padding);
    background-color: var(--form-wrapper-background-color);
    max-width: var(--form-wrapper-max-width);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    text-align: center;
}

main .form-container .default-content-wrapper h2 {
    font-size: var(--mt-heading-font-size-l);
    color: var(--mt-global-color-base-primary);
    line-height: var(--form-default-wrapper-line-height);
    padding-top: 5%;
    padding-bottom: 58px;
    margin: auto;
}

main .form-container .default-content-wrapper p {
    line-height: var(--form-default-wrapper-line-height);
    font-size: var(--mt-font-size-125);
    padding-bottom: 46px;
    margin: auto;
}

main .form-container .default-content-wrapper h2:only-child {
    font-size: var(--mt-font-size-162);
    font-weight: var(--mt-font-weight-regular);
    padding-top: calc(5% + 48px);
    padding-bottom: 10px;
}

main .form-container .form-wrapper {
    margin: auto;
    padding: var(--form-wrapper-padding);
    background-color: var(--form-wrapper-background-color);
    max-width: var(--form-wrapper-max-width);
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

main .form-container .form-wrapper:only-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding-top: 36px;
}

main .form > div:not(:first-child) {
    display: none;
}

main .form form {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(var(--form-columns), minmax(0, 1fr));
    gap: var(--form-grid-gap);
    padding: var(--form-padding);
    max-width: var(--form-max-width);
}

main .form fieldset {
    display: grid;
    align-content: flex-start;
    gap: var(--form-fieldset-grid-gap);
    grid-template-columns: repeat(var(--form-fieldset-columns), minmax(0, 1fr));
    border: var(--form-fieldset-border);
    margin: var(--form-fieldset-marign);
    padding: var(--form-fieldset-padding);
}

main .form form > fieldset {
    grid-column: 1/-1;
}

main .form fieldset > legend {
    padding: var(--form-fieldset-legend-padding);
    font-weight: var(--form-fieldset-legend-font-weight);
    font-size: var(--form-fieldset-legend-font-size);
    line-height: 1;
    width: 100%;
}

main .form form > fieldset > legend {
    --form-fieldset-legend-font-weight: normal;

    color: var(--form-fieldset-legend-color);
    border-bottom: 1px solid rgb(0 0 0 / 10%);
    margin-bottom: 20px;
}

main .form fieldset > fieldset > legend {
    font-size: var(--mt-font-size-100);
    margin-bottom: 8px;
    padding: 0;
}

main .form label {
    font-weight: var(--form-label-font-weight);
    font-size: var(--form-label-font-size);
    color: var(--form-label-color);
    padding: var(--form-label-padding);
    line-height: var(--form-label-line-height);
    font-family: var(--mt-form-font-family);
}

main .form :is(input, textarea, select) {
    background-color: var(--form-input-background-color);
    border: var(--form-input-border-size) solid var(--form-input-border-color);
    width: 100%;
    height: var(--form-input-height);
    padding: var(--form-input-padding);
    margin: var(--form-input-margin);
    font-size: var(--form-input-font-size);
    font-family: var(--mt-form-font-family);
    border-radius: 4px;
    max-width: unset;
}

main .form textarea {
    resize: none;
    min-height: 17vh;
}

main .form .field-description {
    font-size: 14px;
    padding-top: 5px;
    line-height: normal;
}

main .form .form-radio-wrapper,
main .form .form-checkbox-wrapper {
    display: flex;
    align-items: baseline;
    margin: 0.1rem 0 0.3rem;
}

main .form .form-radio-wrapper label,
main .form .form-checkbox-wrapper label {
    --form-label-line-height: 1.5;

    font-weight: var(--mt-font-weight-regular);
    padding: 0 0 0 0.5rem;
}

main .form input[type='checkbox'], 
main .form input[type='radio'] {
    width: 16px;
    height: 13px;
    margin: 0 0 0 0.3rem;
    display: inline-block;
}

main .form button {
    color: var(--form-button-color);
    background: var(--form-button-background-color);
    border: var(--form-button-border);
    padding: var(--form-button-padding);
    font-size: var(--form-button-font-size);
    font-weight: var(--mt-font-weight-bold);
    border-radius: unset;
    border-radius: 3px;
}

main .form .field-wrapper ul {
    padding-left: 0;
    margin: 8px 0;
    list-style-type: none;
}

main .form .field-wrapper ul li,
main .form .form-submission-error {
    color: var(--mt-global-color-red);
    padding: 12px 24px;
    border: 1px solid #c02b0a;
    background: #fff9f9;
    margin-top: 8px;
}

main .form .form-submission-error {
    grid-column: 1/-1;
}

main .form-submit-wrapper {
    margin: var(--form-submit-wrapper-margin); 
    grid-column: 1/-1;
}

main .form-submit-wrapper button {
    width: var(--form-submit-width);
}

main .form-submit-wrapper button:disabled {
    background-color: var(--mt-global-color-dove-gray);
}

main .form-file-wrapper .field-dropregion {
    background: rgb(0 0 0 / 2%);
    border: 1px dashed var(--mt-global-color-silver);
    border-radius: 4px;
    margin: 11px 0 8px;
    padding: 32px;
    text-align: center;
}

main .form-file-wrapper .field-dropregion button {
    color: var(--mt-global-color-red);
    text-align: center;
    background-color: transparent;
    border: 1px solid var(--mt-global-color-red);
    padding: 0.5rem 1rem;
    border-radius: 3px;
    width: unset;
    line-height: 1.5;
}

main .form-file-wrapper input[type="file"] {
    display: none;
}

main .form-file-wrapper .file-description {
    font-size: var(--mt-font-size-100);
}

main .form-file-wrapper .file-description button {
    --form-button-padding: 15px;

    background: none;
    background-image: url("/icons/trash.svg");
    background-repeat: no-repeat;
    width: unset;
    border: unset;
    text-align: center;
}

main .form form .field-tooltip {
    background-color: var(--mt-global-color-red);
    border: 1px solid #9f1300;
    border-radius: 6px;
    max-width: 16em;
    padding: 0.4em 0.6em;
    color: #f3f3f3;
    font-size: var(--mt-font-size-80);
    margin: 7px auto 0;
    left: 45%;
    position: absolute;
}

main .form form .field-tooltip::before {
    content: '';
    position: absolute; 
    left: 10%;
    top: 0;
    border: 6px solid transparent;
    border-top: 0;
    border-bottom: 6px solid var(--mt-global-color-red);
    transform: translate(-50%, calc(-100%));
}

main .connectus form > fieldset,
main .innovate fieldset > fieldset,
main .learn-more fieldset > fieldset {
    --form-fieldset-grid-gap: 0;
    --form-fieldset-legend-font-size: 16px;
    --form-fieldset-legend-color: var(--mt-global-color-charcoal);
    --form-fieldset-columns: 1;
}

main .connectus form > fieldset > legend {
    --form-fieldset-legend-font-weight: bold;

    border-bottom: unset;
    margin-bottom: unset;
}

main .connectus .form-description {
    font-size: var(--mt-font-size-130);
    font-weight: var(--mt-font-weight-bolder);
    border-bottom: solid 2px var(--mt-global-color-gallery);
    line-height: 1.5;
    padding: 0 0 4%;
}

main :is(.contact, .schedule-demo, .learn-more) .form-consent {
    font-size: var(--mt-font-size-90);
    padding: 0.375rem 0 4%;
    border-bottom: solid 2px var(--mt-global-color-gallery);   
    margin: 0;
    line-height: normal;
    grid-column: 1/-1;
}

/* stylelint-disable-next-line  selector-class-pattern */
main .connectus :is(.form-company, .form-Pardot_Form_Message__c, .form-description) {
    grid-column: 1/-1;
}

main .study-request :is(.form-authorize, .form-terms),
main .technical-inquiry :is(.form-authorize-msg, .form-ack-msg) {
    margin: 0;
    font-size: 14px;
    font-style: italic;
}

main .technical-inquiry :is(.form-country, .form-serial-no, .form-inquiry, .form-product, .form-attachment) {
    grid-column: 1/-1;
}

main .innovate .form-email {
    grid-column: 1/-1;
}

main .innovate .form-ack-fs {
    --form-fieldset-padding: 40px 12% 32px;
    --form-fieldset-grid-gap: 0;
    --form-label-line-height: 24px;

    background-color: rgb(0 0 0 / 10%);
}

main .innovate .form-ack-fs > legend {
    float: left;
}

main .study-request {
    --form-default-wrapper-line-height: normal;
}

main .study-request .default-content-wrapper p {
    text-align: left;
    font-size: 16px;
    padding-bottom: 23px;
}

main .study-request .default-content-wrapper strong {
    color: var(--mt-global-color-red);
}

main .study-request textarea {
    padding: 15px;
    min-height: 288px;
}

main .study-request :is(.form-pi-and-contact-fs, .form-study-fs) {
    align-items: end;
}

main .study-request .form-information {
    padding: 20px;
    max-width: 500px;
    text-align: center;
    margin: 15px auto;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-image-source: linear-gradient(to right, rgb(0 0 0 / 0%), rgb(0 0 0 / 75%), rgb(0 0 0 / 0%));
    border-image-slice: 1;
}

main .study-request :is(.form-milestones-fs, .form-publication-fs, .form-document-fs) > .field-description,
main .study-request :is(.form-institutionaddress, .form-studytitle, .form-product, .form-background, .form-statistical, .form-publication) {
    grid-column: 1/-1;
}

main .study-request .form-milestones-fs > fieldset {
    --form-fieldset-columns: 3;
    --form-fieldset-grid-gap: 24px 2%;

    grid-template-columns: repeat(var(--form-fieldset-columns), 84px);
}

main .study-request .form-submission-type-fs {
    --form-fieldset-columns: 1;
    --form-fieldset-grid-gap: 0;
    --form-fieldset-legend-font-weight: bold;
}

main .wizard .form-wizard-button-wrapper {
    grid-column: 1/-1;
}

main .wizard form > :not(.current-wizard-step, .form-wizard-button-wrapper) {
    display: none;
}

main .wizard .form-submit-wrapper,
main .wizard .form-wizard-button {
    --form-button-padding: 15px;

    width: 125px;
    margin: 0 10px 0 0;
    display: inline-block;
}

main .wizard .form-submit-wrapper {
    display: none;
}

main .wizard .current-wizard-step.field-wrapper:first-of-type ~ .form-wizard-button-wrapper > .form-wizard-button:first-of-type,
main .wizard .current-wizard-step.field-wrapper:last-of-type ~ .form-wizard-button-wrapper > .form-wizard-button:last-of-type  {
    display: none;
}

main .wizard .current-wizard-step.field-wrapper:last-of-type ~ .form-wizard-button-wrapper > .form-submit-wrapper {
    display: inline-block;
}

main .learn-more .form-country {
    grid-column: 1/-1;
}

@media (min-width: 640px) {
    main .form form :is(.form-email-opt-fs, .form-phone-opt-fs, .form-text-opt-fs) {
        grid-column: span calc(var(--form-columns)/3);
        width: calc(100% + 10px);
    }

    main .form fieldset :is(.form-email-opt-fs, .form-phone-opt-fs, .form-text-opt-fs) {
        grid-column: span calc(var(--form-fieldset-columns)/3);
    }

    main .connectus {
        --form-columns: 6;
    }

    /* stylelint-disable-next-line  selector-class-pattern */
    main .connectus :is(.form-postalCode, .form-country, .form-phone, .form-email, .form-firstName, .form-lastName) {
        grid-column: span calc(var(--form-columns)/2);
    }

    main .contact :is(.form-product-fs, .form-solution-fs, .form-service-fs) {
        grid-column: span calc(var(--form-columns)/3);
        width: calc(100% + 10px);
    }

    main .schedule-demo :is(.form-product-fs, .form-solution-fs, .form-preferred-day-fs, .form-preferred-time-fs) {
        grid-column: span calc(var(--form-columns)/2);
    }

    main .technical-inquiry {
        --form-fieldset-columns: 2;
    }

    main .innovate .form-personal-info {
        --form-fieldset-columns: 2;
    }

    main .study-request fieldset {
        --form-fieldset-columns: 2;
    }

    main .learn-more .form-other-info {
        --form-fieldset-columns: 3;
    }
}

@media (min-width: 740px) {
    :root {
        --form-wrapper-padding: 0 77px;
        --form-padding: 16px 0 122px;
    }

    main .form-container .default-content-wrapper h2 {
        padding-top: 37px;
    }

    main .form-container .default-content-wrapper h2:only-child {
        padding-top: 85px;
    }
}