:root {
    --form-font-size-m: 22px;
    --form-font-size-s: 18px;
    --form-font-size-xs: 16px;
    --form-container-padding: 10px;
    --form-default-wrapper-padding: 5% 5% 0;
    --form-wrapper-padding: 0 5% 10%;
    --form-wrapper-max-width: 100%;
    --form-wrapper-background-color: var(--mt-global-color-base-primary);
    --form-columns: 1;
    --form-padding: 16px 0 0;
    --form-grid-gap: 26px 32px;
    --form-max-width: 100%;
    --form-fieldset-border: 0;
    --form-fieldset-marign: 0;
    --form-fieldset-padding: 0;
    --form-fieldset-grid-gap: 0;
    --form-fieldset-legend-padding: 0.3rem 0 1rem 0;
    --form-fieldset-legend-font-size: 16px;
    --form-fieldset-legend-font-weight: var(--mt-font-weight-boldest);
    --form-label-padding: 0.3rem 0 0;
    --form-label-color: var(--mt-global-color-charcoal);
    --form-label-font-size: var(--form-font-size-xs);
    --form-label-line-height: 1.2rem;
    --form-label-font-weight: bold;
    --form-input-margin: 1rem 0 0;
    --form-input-padding: 10px;
    --form-input-height: 46px;
    --form-input-font-size: var(--mt-font-size-100);
    --form-input-disable-color: var(--mt-global-color-silver);
    --form-input-border-size: 1px;
    --form-input-border-color: var(--mt-global-color-gallery);
    --form-input-background-color: var(--mt-global-color-alabaste);
    --form-button-color: var(--mt-background-color-primary);
    --form-button-font-size: var(--form-font-size-s);
    --form-button-background-color: var(--mt-global-color-accent-primary);
    --form-button-background-hover-color: var(--mt-global-color-blue-ribbon);
    --form-button-border: 2px solid transparent;
    --form-button-padding:15px 50px;
    --form-submit-wrapper-margin: 36px 0 0 0;
    --form-submit-width: 100%
}

main .section.form-container {
    padding: var(--form-container-padding);
    font-family: var(--mt-form-font-family);
}

main .form-container .default-content-wrapper {
    margin: auto;
    padding: var(--form-default-wrapper-padding);
    background-color: var(--form-wrapper-background-color);
    max-width: var(--form-wrapper-max-width);
}

main .form-container .form-wrapper {
    margin: auto;
    padding: var(--form-wrapper-padding);
    background-color: var(--form-wrapper-background-color);
    max-width: var(--form-wrapper-max-width);
}

main .form form {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(var(--form-columns), minmax(0, 1fr));
    gap: var(--form-grid-gap);
    padding: var(--form-padding);
    max-width: var(--form-max-width);
}

main .form fieldset {
    border: var(--form-fieldset-border);
    margin: var(--form-fieldset-marign);
    padding: var(--form-fieldset-padding);
    display: grid;
    align-content: flex-start;
    gap: var(--form-fieldset-grid-gap);
}

main .form fieldset > legend {
    padding: var(--form-fieldset-legend-padding);
    font-weight: var(--form-fieldset-legend-font-weight);
    color: var(--form-label-color);
    font-size: var(--form-fieldset-legend-font-size);
}

main .form label {
    font-weight: var(--form-label-font-weight);
    font-size: var(--form-label-font-size);
    color: var(--form-label-color);
    padding: var(--form-label-padding);
    line-height: var(--form-label-line-height);
    font-family: Helvetica, Arial, sans-serif;
}

main .form label.asterisk::after {
    content: "*";
    color: var(--form-label-color);
}

main .form :is(input, textarea, select) {
    background-color: var(--form-input-background-color);
    border: var(--form-input-border-size) solid var(--form-input-border-color);
    width: 100%;
    height: var(--form-input-height);
    padding: var(--form-input-padding);
    margin: var(--form-input-margin);
    font-size: var(--form-input-font-size);
    font-family: var(--mt-form-font-family);
    border-radius: 4px;
}

main .form textarea {
    resize: none;
    min-height: 17vh;
}

main .form .form-radio-wrapper,
main .form .form-checkbox-wrapper {
    display: flex;
    align-items: baseline;
    margin: 0.1rem 0 0.3rem 0;
}

main .form .form-radio-wrapper label,
main .form .form-checkbox-wrapper label {
    font-weight: var(--mt-font-weight-regular);
    padding: 0 0 0 0.5rem;
}

main .form input[type='checkbox'], 
main .form input[type='radio'] {
    width: 16px;
    height: 13px;
    margin: 0 0 0 0.3rem;
    display: inline-block;
}

main .form button {
    color: var(--form-button-color);
    background: var(--form-button-background-color);
    border: var(--form-button-border);
    padding: var(--form-button-padding);
    font-size: var(--form-button-font-size);
    font-weight: var(--mt-font-weight-bold);
    border-radius: unset;
}

main .form-submit-wrapper {
    margin: var(--form-submit-wrapper-margin); 
}

main .form-submit-wrapper button {
    width: var(--form-submit-width);
    border-radius: 3px;
}

main .contact {
    --form-default-wrapper-padding: calc(5% + 48px) calc(5% + 8px) 0;
    --form-wrapper-padding: 0 calc(5% + 8px) calc(10% + 48px);
    --form-container-padding: 0;
    --form-wrapper-max-width: 740px;
    --form-wrapper-background-color: var(--mt-global-color-white);
}

main .schedule-demo {
    --form-default-wrapper-padding: 5% calc(5% + 8px) 46px;
    --form-wrapper-padding: 0 calc(5% + 8px) calc(10% + 48px);
    --form-container-padding: 0;
    --form-wrapper-max-width: 740px;
    --form-wrapper-background-color: var(--mt-global-color-white);
}

main .form-container.contact,
main .form-container.schedule-demo {
    background-image: url('../../styles/icons/Mammotome-BG_Pattern-1.svg');
    background-position: top center;
    background-repeat: repeat;
    background-size: 60px auto;
    padding: 5% 0 10%;
}

main .section.contact .default-content-wrapper,
main .section.schedule-demo .default-content-wrapper {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

main .section.contact .form-wrapper,
main .section.schedule-demo .form-wrapper {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

main .contact .form-message,
main .schedule-demo .form-message {
    font-size: var(--mt-font-size-130);
    font-weight: var(--mt-font-weight-bolder);
    border-bottom: solid 2px var(--mt-global-color-gallery);
    line-height: 1.5;
    padding: 0 0 4%;
}

main .contact .form-consent,
main .schedule-demo .form-consent {
    font-size: var(--mt-font-size-90);
    padding: 0.375rem 0 4%;
    border-bottom: solid 2px var(--mt-global-color-gallery);   
    margin: 0;
}

main .contact :is(.form-product-fs, .form-solution-fs, .form-service-fs) label,
main .schedule-demo :is(.form-product-fs, .form-solution-fs) label {
    line-height: 26px;
}

main .study-request {
    --form-default-wrapper-padding: 0;
    --form-wrapper-padding: 0;
    --form-wrapper-max-width: 1060px;
    --form-max-width: 800px;
    --form-label-color: var(--mt-global-color-white);
    --form-fieldset-grid-gap: 0 24px;
    --form-label-padding: 0;
    --form-input-margin: 7px 0 0;
    --form-fieldset-legend-padding: 32px 0 15px 0;
    --form-fieldset-legend-font-size: 24px;
    --form-fieldset-legend-font-weight: 400;
}

main .study-request form {
    color: var(--form-label-color);
}

main .study-request .field-description {
    font-size: 15px;
    line-height: 1;
    padding-top: 5px;
}

main .study-request fieldset {
    align-items: end;
}

main .study-request form > fieldset > legend {
    border-bottom: 2px dashed var(--mt-global-color-white);
    margin-bottom: 24px;
    width: 100%;
}

main .study-request .form-study-fs textarea {
    height: 288px;
    padding: 15px;
}

main .study-request .form-information {
    color: var(--mt-global-color-white);
    padding: 20px;
    max-width: 500px;
    text-align: center;
    margin: 15px auto;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-image-source: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    border-image-slice: 1;
}

main .study-request .form-browse input[type=file] {
    display: none;
}

main .study-request .form-browse .remove {
    
}

main .innovate .form-wrapper {
    max-width: 1080px;
    padding: 2%;
}

main  .form-wrapper {
    max-width: 1080px;
}

@media (min-width: 640px) {
    .form-company,
    .form-message,
    .form-consent,
    .form-description,
    .form-contact-type-fs,
    .form-contacttitle,
    .form-studytitle,
    .form-product,
    .form-institutionaddress,
    .form-background,
    .form-statistical,
    .form-submit-wrapper {
        grid-column: 1/-1;
    }

    .form-firstname,
    .form-lastname,
    .form-postalcode,
    .form-country,
    .form-phone,
    .form-email {
        grid-column: span calc(var(--form-columns)/2);
    }

    main .contact form,
    main .schedule-demo form {
        --form-columns: 6;
    }

    main .section:is(.contact, .schedule-demo) > div {
        padding-left: calc(5% + 10vw);
        padding-right: calc(5% + 10vw);
    }
    
    main .contact :is(.form-product-fs, .form-solution-fs, .form-service-fs),
    main .contact :is(.form-email-opt-fs, .form-phoneOptFS, .form-textOptFS) {
        grid-column: span 2;
        width: calc(100% + 21px);
    }

    main .schedule-demo :is(.form-product-fs, .form-solution-fs),
    main .schedule-demo :is(.form-preferred-day-fs, .form-preferred-time-fs) {
        grid-column: span 3;
    }
    
    main .schedule-demo :is(.form-email-opt-fs, .form-phoneOptFS, .form-textOptFS) {
        grid-column: span 2;
        width: calc(100% + 21px);
    }

    main .study-request form fieldset {
        --form-columns: 2;
        --form-fieldset-grid-gap: 24px 2%;
        grid-template-columns: repeat(var(--form-columns), minmax(0, 1fr));
    }
}

@media (min-width: 740px) {
    main .section:is(.contact, .schedule-demo) > div {
        padding-left: 77px;
        padding-right: 77px;
    }
    
    main .section.contact .default-content-wrapper {
        padding-top: 85px;
    }
    
    main .section.schedule-demo .default-content-wrapper {
        padding-top: 37px;
    }

    main .section:is(.contact, .schedule-demo) .form-wrapper {
        padding-bottom: 122px;
    }
}

@media (min-width: 1024px) {
    main .innovate .form-wrapper {
        padding: 50px 100px 0;
    }
}