:root {
    --form-font-size-m: 22px;
    --form-font-size-s: 18px;
    --form-font-size-xs: 16px;
    --form-background-color: var(--mt-background-color-primary);
    --form-padding: 3%;
    --form-columns: 1;
    --form-field-gap: 20px 0 0 0;
    --form-invalid-border-color: var(--mt-global-color-orange);
    --form-input-padding: 0.75rem 0.6rem;
    --form-input-font-size: var(--mt-font-size-100);
    --form-input-disable-color: var(--mt-global-color-silver);
    --form-input-border-size: 1px;
    --form-input-border-color: var(--mt-global-color-oslo-gray);
    --form-input-background-color: var(--mt-background-color-primary);
    --form-paragraph-color: var(--mt-global-color-dove-gray);
    --form-paragraph-margin: 0 0 0.9rem;
    --form-paragraph-font-style: none;
    --form-paragraph-font-size: var(--form-font-size-xs);
    --form-label-color: var(--mt-global-color-dove-gray);
    --form-label-font-size: var(--form-font-size-xs);
    --form-label-font-weight: bold;
    --form-fieldset-border: 0;
    --form-fieldset-marign: 0;
    --form-fieldset-legend-color: var(--form-label-color);
    --form-fieldset-legend-font-size: var(--form-label-font-size);
    --form-fieldset-legend-font-weight: var(--form-label-font-weight);
    --form-fieldset-legend-border: none;
    --form-fieldset-legend-padding: 0;
    --form-button-color: var(--mt-background-color-primary);
    --form-button-font-size: var(--form-font-size-s);
    --form-button-background-color: var(--mt-global-color-accent-primary);
    --form-button-background-hover-color: var(--mt-global-color-blue-ribbon);
    --form-button-border: 2px solid transparent;
    --form-button-padding:15px 50px;
    --form-upload-color: var(--mt-background-color-primary);
    --form-upload-font-size: var(--form-font-size-xs);
    --form-upload-background-color: var(--mt-global-color-base-primary);
    --form-submit-width: 100%;
}

main .form-container {
    background-color: var(--mt-background-color-primary);
    padding: var(--form-padding);
}

main .form {
    background-color: var(--form-background-color);
}

main .form form {
    display: grid;
    grid-template-columns: repeat(var(--form-columns), 1fr);
}

main .form form fieldset {
    border: var(--form-fieldset-border);
    margin: var(--form-fieldset-marign);
    width: 100%;
}

main .form form fieldset fieldset {
    padding: 0;
}

main .form .field-description {
    color: var(--form-label-color);
    font-size: var(--form-font-size-xs);
}

main .form :is(input, textarea, select) {
    background-color: var(--form-input-background-color);
    border: var(--form-input-border-size) solid var(--form-input-border-color);
    width: calc(100% - 16px);
    height: 42px;
    color: var(--form-label-color);
    padding: var(--form-input-padding);
    margin: 10px 0 0;
    font-size: var(--form-input-font-size);
    max-width: unset;
}

main .form input[type='file'] {
    border: none;
}

main .form input[type='checkbox'],
main .form input[type='radio'] {
    width: 16px;
    height: 16px;
    margin: 0 0 0 8px;
    flex: none;
}

main .form textarea {
    min-height: 100px;
}

main .form :is(input:hover, select:hover) {
    border-color: rgb(90 92 96);
}

main .form fieldset legend {
    font-weight: var(--form-fieldset-legend-font-weight);
    font-size: var(--form-fieldset-legend-font-size);
    color: var(--form-fieldset-legend-color);
    border-bottom: var(--form-fieldset-legend-border);
    width: 100%;
    padding: var(--form-fieldset-legend-padding);
}

main .innovate form > fieldset > legend {
    text-align: center;
}

main .form fieldset legend:has(div.form-radio-wrapper) {
    border-bottom: 0;
}

main .form label {
    font-weight: var(--form-label-font-weight);
    font-size: var(--form-label-font-size);
    color: var(--form-label-color);
    margin: 1rem 0;
}

main .form label.required::after {
    content: "*";
    color: var(--form-label-color);
    padding-left: 5px;
}

main .form form p,
main .form form .field-wrapper {
    margin: var(--form-field-gap);
    color: var(--form-label-color);
}

main .form form p {
    font-size: var(--form-paragraph-font-size);
    font-style: var(--form-paragraph-font-style);
    color: var(--form-paragraph-color);
    margin: var(--form-paragraph-margin);
}

main .form form fieldset > :is(.form-radio-wrapper:first-of-type, .form-checkbox-wrapper:first-of-type) {
    margin: var(--form-field-gap);
}

main .form form :is(.form-checkbox-wrapper, .form-radio-wrapper){
  display: flex;
  align-items: baseline;
  margin: 0;
}

main .form .form-radio-wrapper  label,
main .form .form-checkbox-wrapper label {
    font-weight: var(--mt-font-weight-regular);
    margin: 0 0 0.3em 0.3em;
}

input::file-selector-button {
    color: var(--form-upload-color);
    background: var(--form-upload-background-color);
    font-size: var(--form-upload-font-size);
    text-align: center;
}

main .form button {
    color: var(--form-button-color);
    background: var(--form-button-background-color);
    border: var(--form-button-border);
    padding: var(--form-button-padding);
    font-size: var(--form-button-font-size);
    font-weight: var(--mt-font-weight-bold);
    border-radius: unset;
}

main .form button:hover {
    background: var(--form-button-background-hover-color);
}

main .form-submit-wrapper{
    width: var(--form-submit-width);
}

main .form :is(input:disabled, textarea:disabled, select:disabled, button:disabled) {
    background-color: var(--form-input-disable-color);
}

.technical-inquiry  {
    --form-fieldset-legend-font-size: var(--mt-font-size-175);
    --form-fieldset-legend-font-weight: var(--mt-font-weight-regular);
    --form-fieldset-legend-border: 1px solid rgb(0 0 0 / 10%);
    --form-fieldset-legend-color: var(--mt-global-color-base-primary);
    --form-fieldset-legend-padding: 0px 0px 20px 0px
}

.innovate,
.study-request  {
    --form-fieldset-legend-font-size: var(--mt-font-size-150);
    --form-fieldset-legend-font-weight: var(--mt-font-weight-bold);
    --form-fieldset-legend-border: 2px dashed var(--mt-background-color-primary);
    --form-background-color: var(--mt-global-color-base-primary);
    --form-label-color: var(--mt-background-color-primary);
    --form-paragraph-color: var(--mt-background-color-primary);
    --form-fieldset-legend-color: var(--mt-background-color-primary);
    --form-fieldset-legend-padding: 1em 0;
}

.innovate {
    --form-fieldset-legend-border: 1px solid gray;
    --form-fieldset-legend-font-size: var(--mt-font-size-215);
    --form-fieldset-legend-font-weight: var(--mt-font-weight-boldest);
}

main .innovate form fieldset fieldset,
main .study-request form fieldset fieldset {
    --form-fieldset-legend-color: var(--form-label-color);
    --form-fieldset-legend-font-size: var(--form-label-font-size);
    --form-fieldset-legend-font-weight: var(--form-label-font-weight);
    --form-fieldset-legend-border: none;
    --form-fieldset-legend-padding: 0;
}

.form-contacttitle {
    font-weight: var(--mt-font-weight-bold);
}

.study-request .form-firstname,
.study-request .form-lastname {
    --form-field-gap: 0
}

.study-request :is(.form-information,
    .form-authorize,
    .form-terms) {
    padding: 20px;
    max-width: 500px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

main .study-request input[type='file'] {
    background: rgb(var(--mt-global-color-black) / 2%);
    border: 1px dashed var(--mt-global-color-silver);
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 32px;
    text-align: center
}

main .innovate form,
main .study-request form,
main .technical-inquiry form {
    display: flex;
    flex-direction: column;
}

.contact,
.schedule-demo {
    --form-paragraph-color: var(--mt-global-color-black);
    --form-label-color: var(--mt-global-color-black);
    --form-input-background-color: var(--mt-global-color-alabaste);
    --form-input-border-size: 1px;
    --form-input-border-color: var(--mt-global-color-gallery);
}

main .form form .form-message,
.form-consent {
    font-size:  var(--mt-font-size-90);
    border-bottom: solid 2px var(--mt-global-color-gallery);
}

main .form form .form-message {
    font-size:  var(--mt-font-size-130);
    font-weight: var(--mt-font-weight-bold);
    padding: 4%;
}

.study-request .form-textarea-wrapper textarea {
    height: 288px;
}

.form-submission-fs,
.form-enrollment-fs,
.form-enrollment-end-fs,
.form-final-data-fs {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.form-submissionmonth,
.form-submissionday,
.form-submissionyear,
.form-enrollmentmonth,
.form-enrollmentday,
.form-enrollmentyear,
.form-enrollmentendmonth,
.form-enrollmentendday,
.form-enrollmentendyear,
.form-finaldatamonth,
.form-finaldataday,
.form-finaldatayear {
    --form-field-gap: 0;

    width: min-content;
}

#submissionmonth,
#submissionday,
#submissionyear,
#enrollmentmonth,
#enrollmentday,
#enrollmentyear,
#enrollmentendmonth,
#enrollmentendday,
#enrollmentendyear,
#finaldatamonth,
#finaldataday,
#finaldatayear {
    min-width: 84px;
    width: 100%;
    margin: 0;
}

.innovate .form-submit-wrapper .button,
.study-request .form-submit-wrapper .button,
.contact .form-submit-wrapper .button,
.schedule-demo .form-submit-wrapper .button,
.technical-inquiry .form-submit-wrapper .button {
   width: calc(100% - 16px);
}

@media (min-width: 576px) {
    .form-container {
        max-width: 540px;
    }
}
  
@media (min-width: 768px) {
    .form-container {
        max-width: 740px;
        margin: 0 auto 10px;
    }

        form {
        width: unset;
        flex-flow: wrap row;
    }
}
  
@media (min-width: 1200px), (min-width: 992px) {
    :root {
        --form-columns: 2;
    }

    .form-firstname,
    .form-lastname,
    .form-country,
    .form-postalcode,
    .form-phone,
    .form-email,
    .form-preferred-day-fs,
    .form-preferred-time-fs,
    .form-product-fs,
    .form-solution-fs{
        grid-column: span calc(var(--form-columns)/2);
    }

    .form-contact-type-fs,
    .form-company,
    .form-description,
    .form-message,
    .form-consent,
    .form-submit-wrapper  {
        grid-column: span 4;
    }

    .form-email-opt-fs  {
        grid-column-start: 1;
    }

    main .innovate,
    main .study-request  {
        max-width: 1060px;
        padding: 0;
    }

    main .innovate form,
    main .study-request form {
        max-width: 800px;
        margin: 0 auto;
    }

    .innovate .form-personal-info  {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .innovate .form-email {
        grid-column: span 2;
    }

    .innovate  .form-company {
        grid-column: span 1;
    }
    
    .technical-inquiry .form-contact-details-fs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .technical-inquiry .form-country {
        grid-column: span 2;
    }

    .contact,
    .schedule-demo {
        --form-columns: 4;
    }

    .contact .form-product-fs {
        grid-column: span 1;
    }

    .study-request .form-pi-and-contact-fs,
    .study-request .form-study-fs,
    .form-statistical-fs,
    .form-budget-fs,
    .form-milestones-fs,
    .form-document-fs   {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .study-request .form-pi-and-contact-fs,
    .study-request .form-institutionaddress,
    .form-contacttitle,
    .form-studytitle,
    .form-product,
    .form-background,
    .form-statistical,
    #milestones-fs-description,
    #document-fs-description   {
        grid-column: span 2;
    }

    main .innovate form .form-ack-fs {
        padding: 0 15% 5px;
        border-radius: 3px;
        margin-top: 36px 0;
    }
}
