:root {
  --columns-max-width: 1300px;
  --columns-image-width: 500px;
  --columns-image-xs-height: 110px;
  --columns-image-padding: 30px;
  --columns-gap: 65px;
  --columns-link-color: var(--mt-link-color);
  --mt-ordered-list-font-size: var(--mt-font-size-80);
  --columns-font-weight: var(--mt-font-weight-regular);
}

main .columns {
  max-width: var(--columns-max-width);
  margin: 3% auto;
  padding: 0;
}

main .columns a:not(.button) {
  color: var(--columns-link-color);
  font-size: 1rem;
}

main .columns h1 a:any-link,
main .columns h2 a:any-link,
main .columns h3 a:any-link,
main .columns h4 a:any-link,
main .columns h5 a:any-link,
main .columns h6 a:any-link {
  color: inherit;
  font-size: inherit;
}

main .columns ol {
  font-size: var(--mt-ordered-list-font-size);
  padding-left: 15px;
}

main .columns ol li a:not(.button) {
  font-size: var(--mt-ordered-list-font-size);
}

main .columns.image-cards p:has(picture) a {
  display: flex;
  flex-direction: column-reverse;
  font-size: inherit;
  color: inherit;
}

.accent-primary-solid-background .columns a:any-link,
.accent-quinary-solid-background .columns a:any-link,
.accent-secondary-blur-overlay .columns a:any-link,
.base-primary-blur-overlay .columns a:any-link,
.gradient-primary-blur-overlay .columns a:any-link,
.gradient-secondary-blur-overlay .columns a:any-link,
.logo-primary-background .columns a:any-link {
  color: var(--mt-text-color-inverted);
}

main .columns.linked-images a:not(.button) {
  font-size: inherit;
}

main .columns h1,
main .columns h2,
main .columns h3,
main .columns h4,
main .columns h5,
main .columns h6,
main .columns p {
 text-align: left;
  position: relative;
}

main .columns h4 {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: calc(4% + 20px);
  line-height: 1.5;
  color: var(--mt-heading-color-primary);
}

main .columns h2 {
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 4px;
  margin-bottom: 20px;
  color: var(--mt-heading-color-primary);
  text-transform: uppercase;
}

main .columns > div p {
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.5;
}

main .columns.centered h1,
main .columns.centered h2,
main .columns.centered h3,
main .columns.centered h4,
main .columns.centered h5,
main .columns.centered h6,
main .columns.centered p {
  text-align: center;
}

main .columns > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .columns-3-cols .button sup {
  font-size: 75%;
  top: -0.35rem;
}

main .columns > div > div {
  order: 0;
  width: 95%;
}

main .columns.subnavigation > div {
  gap: unset;
}

main .columns.centered > div {
  text-align: center;
}

main .columns.simple > div {
  align-items: flex-start;
}

main .columns.centered > div > div {
  align-self: flex-start;
}

main .columns.subnavigation {
  padding: 0;
}

main .columns.subnavigation > div > div {
  width: 100%;
  border-bottom: 1px solid #797a7c;
  padding: 15px 0;
}

main .columns.subnavigation > div > div:last-child {
  border-bottom: unset;
}

.columns.subnavigation a.button.primary {
  background-color: unset;
  border: unset;
  color: var(--mt-heading-color-secondary);
  font-size: var(--mt-heading-font-size-l);
  font-weight: var(--mt-font-weight-boldest);
}

div[class^="columns image-color-"] img {
  width: calc((var(--columns-max-width)/2) - var(--columns-image-padding));
  border-radius: 5px;
  box-shadow: 8px 22px 50px 0 rgb(28 28 73 / 37%);
}

main .columns > div > .columns-img-col img {
  display: block;
}

main .columns.images-small > div img {
  height: var(--columns-image-xs-height);
}

div[class^="columns image-color-"] > div > div:last-child img {
  margin: 0 0 0 auto;
}

.columns.simple > div p {
  font-size: initial;
}

main .columns.text-small > div p {
    font-size: 1rem;
}

main .section.narrow .columns-wrapper {
  padding: 0 15%;
}

main .columns > div > .columns-img-col {
  order: 1;
  position: relative;
}

main .columns.image-cards p:has(picture) {
  box-shadow: 2px 12px 28px 0 rgb(28 28 73 / 25%);
  border-radius: 5px;
  background: white;
  text-align: center;
  line-height: 2;
  font-size: var(--mt-font-size-130);
  font-weight: 500;
  padding: 0 0 15px;
  display: flex;
  margin: 5% 15%;
  flex-direction: column;
}

main .columns.image-cards p:has(picture) img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

div[class^="columns image-color-"] > div > div:first-child.columns-img-col {
  max-width: calc((var(--columns-max-width)/2));
}

div[class^="columns image-color-"] > div > div:last-child.columns-img-col {
  max-width: calc((var(--columns-max-width)/2));
}

main .columns > div > .columns-img-col::before {
  content: '';
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  border-radius: 5px;
  display: block;
}

main .columns div > div:first-child.columns-img-col::before {
  left: 0;
}

main .columns > div > div:last-child.columns-img-col::before {
  right: 0;
}

main .columns.image-color-primary-blue > div > .columns-img-col::before {
  background-color: var(--mt-global-color-accent-primary);
}

main .columns.image-color-light-blue > div > .columns-img-col::before {
  background-color: var(--mt-global-color-light-blue);
}

.columns .columns-img {
  padding: 5%;
  position: relative;
  z-index: 20;
}

@media (min-width: 768px) {
  .columns .columns-img {
    padding: 10%;
  }
}

@media (min-width: 900px) {
  main .columns h2 {
    font-size: 1rem;
  }

  main .columns > div {
    flex-direction: unset;
    gap: var(--columns-gap);
  }

  main .columns > div p {
    font-size: 1.8rem;
  }

  main .columns > div > div {
    flex: 1;
    order: unset;
  }

  main .columns.image-color-primary-blue > div,
  main .columns.image-color-light-blue > div,
  main .columns.image-cards > div{
    gap: 0;
  }

  main .columns.subnavigation > div {
    flex-direction: column;
  }

  main .columns[class*="image-color-"] > div:not(:first-child) {
    margin-top: 8%;
  }

  main .columns.simple > div:not(:first-child) {
    margin-top: 0;
  }

  main .columns > div > .columns-img-col {
    order: unset;
  }

  main .columns.subnavigation > div > div:last-child {
    border-right: unset;
  }
}

@media (min-width: 1024px) {
  main .columns.subnavigation {
    padding: 20px 0;
  }

  main .columns.subnavigation > div {
    flex-direction: unset;
  }

  main .columns.subnavigation > div > div {
    border-right: 1px solid #797a7c;
    border-bottom: unset;
  }
}
