:root {
  --columns-max-width: 1300px;
  --columns-image-width: 500px;
  --columns-image-xs-height: 110px;
  --columns-image-padding: 30px;
  --columns-gap: 65px;
  --columns-link-color: #c36;
  --columns-font-weight: var(--mt-font-weight-regular);
}

main .columns {
  max-width: var(--columns-max-width);
  margin: auto;
  padding: 5% 0;
}

main .columns h1,
main .columns h2,
main .columns h3,
main .columns h4,
main .columns h5,
main .columns h6,
main .columns p {
 text-align: left;
  position: relative;
}

main .section.columns-container {
  padding: 10% 5%;
}

main .columns h4 {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: calc(4% + 20px);
  line-height: 1.5;
  color: var(--mt-heading-color-primary);
}

main .columns h2 {
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 4px;
  margin-bottom: 20px;
  color: var(--mt-heading-color-primary);
  text-transform: uppercase;
}

main .columns > div p {
  font-weight: var(--columns-font-weight);
  font-size: 1rem;
  line-height: 1.5;
}

main .columns.centered h1,
main .columns.centered h2,
main .columns.centered h3,
main .columns.centered h4,
main .columns.centered h5,
main .columns.centered h6,
main .columns.centered p {
  text-align: center;
}

main .columns sup {
  font-size: 1rem;
}

main .columns > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .columns-3-cols .button sup {
  font-size: 75%;
  top: -0.35rem;
}

/* Adds additional margins to avoid overflow of text into hero arc */
main .columns .hero-arc-margin {
  margin-top: 20%;
}

@media (min-width: 1024px) {
  main .columns .hero-arc-margin {
    margin-top: 10%;
  }
}

main .columns > div > div {
  order: 0;
}

main .columns.centered > div {
  text-align: center;
}

div[class^="columns image-color-"] img {
  width: calc((var(--columns-max-width)/2) - var(--columns-image-padding));
  border-radius: 5px;
  box-shadow: 8px 22px 50px 0 rgb(28 28 73 / 37%);
}

main .columns > div > .columns-img-col img {
  display: block;
}

main .columns.images-small > div img {
  height: var(--columns-image-xs-height);
}

div[class^="columns image-color-"] > div > div:last-child img {
  margin: 0 0 0 auto;
}

.columns.simple > div p {
  font-size: initial;
}

main .columns.text-small > div p {
    font-size: 1rem;
    padding: 0 15%;
}

main .columns.simple > div {
  align-items: flex-start;
}

main .columns > div > .columns-img-col {
  order: 1;
  position: relative;
}

main .columns.image-cards p:has(picture) {
  box-shadow: 2px 12px 28px 0 rgb(28 28 73 / 25%);
  border-radius: 5px;
  background: white;
  text-align: center;
  line-height: 2;
  font-size: var(--mt-font-size-130);
  font-weight: 500;
  padding: 0 0 15px;
  display: flex;
  flex-direction: column;
}

div[class^="columns image-color-"] > div > div:first-child.columns-img-col {
  padding-left: var(--columns-image-padding);
  max-width: calc((var(--columns-max-width)/2));
}

div[class^="columns image-color-"] > div > div:last-child.columns-img-col {
  padding-right: var(--columns-image-padding);
  max-width: calc((var(--columns-max-width)/2));
}

main .columns > div > .columns-img-col::before {
  content: '';
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  border-radius: 5px;
  display: block;
  z-index: -1;
}

main .columns div > div:first-child.columns-img-col::before {
  left: 0;
}

main .columns > div > div:last-child.columns-img-col::before {
  right: 0;
}

main .columns.image-color-primary-blue > div > .columns-img-col::before {
  background-color: var(--mt-global-color-accent-primary);
}

main .columns.image-color-light-blue > div > .columns-img-col::before {
  background-color: var(--mt-global-color-light-blue);
}

.columns .columns-img {
  padding: 5% 0 10%;
}

@media (min-width: 768px) {
  main .section.columns-container {
    padding: 5%;
  }

  .columns .columns-img {
    padding: 5% 15%;
  }
}

@media (min-width: 900px) {
  main .columns h2 {
    font-size: 1rem;
  }

  main .columns > div {
    flex-direction: unset;
  }

  main .columns > div > div {
    flex: 1;
    order: unset;
  }

  main .columns > div > .columns-img-col {
    order: unset;
  }
}
