.columns div {
  display: flex;
  flex-direction: column;
}

.columns.simple h2 {
  color: var(--mt-global-color-base-secondary);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.3em;
  text-transform: none;
}
.columns > div > .columns-txt-wrapper h2 {
  font-size: 1 rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.columns > div > .columns-txt-wrapper p {
  font-size: 28.8px;
  font-weight: 300;
  line-height: 43.2px;
  margin-top: 40px;
}

.columns > div > .columns-txt-wrapper {
  align-items: center;
  margin-bottom: 40px;
  padding: 10px;
}


.columns .columns-img-wrapper img {
  width: 100%;
  max-width: 500px;
}

.columns.simple img {
  width: 100%;
}

.columns > div > .columns-img-wrapper > .columns-img-decoration {
  background-image: url('../../styles/icons/Rectangle-BG.svg');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 15% 0% 15% 0%;
}

.columns > div > .columns-img-wrapper > .columns-img-decoration > .columns-img img {
  border-radius: 5px 5px 5px 5px;
  box-shadow: 8px 22px 50px 0px rgba(28, 28, 73, 0.37);
}

.columns > div > .columns-img-wrapper > .columns-img-decoration > .columns-img {
  display: block;
  padding-left: 20px;
}


@media screen and (max-width: 767px) {
  .columns > div > .columns-txt-wrapper h2 {
    font-size: 0.8rem;
  }

  .columns > div > .columns-txt-wrapper p {
    font-size: 20.8px;
    font-weight: 300;
    line-height: 31.2px;
    margin-top: 10px;
  }
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns.simple > div {
    align-items: normal;
  }

  .columns>div>div {
    flex: 1;
    order: unset;
  }
}