.product-support {
  width: 100%;
  padding: 2rem 0 0;
  max-width: 1300px;
  margin: auto;
}

.product-support > h1 {
  text-align: center;
}

.product-support > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
}

.product-support > div > h2 {
  text-align: center;
  margin-bottom: 3%;
  margin-top: 3%;
}

.product-support > div > div > select {
  color: var(--mt-global-color-base-primary);
  border-style: solid;
  border-width: 1px;
  border-color: var(--mt-global-color-base-primary);
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
  linear-gradient(135deg, gray 50%, transparent 50%),
  linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px),
  calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px,
  5px 5px,
  1px 1.5em;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 320px;
  background-color: var(--mt-global-color-white);
  border: thin solid var(--mt-global-color-accent-senary);
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: var(--mt-body-line-height);
  padding: 0.5em 3.5em 0.5em 1em;
  margin: 0;
  box-sizing: border-box;
  appearance: none;
}

.product-support > div > div {
  display: flex;
  justify-content: center;
  padding: 0 0 3%;
  margin-bottom: 20px;
  font-size: var(--mt-heading-font-size-m);
  text-align: center;
}

.product-support > div > div > div{
  width: 100%;
}

.product-support > div > .link-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-support > div > div > .link {
  width: 100%;
  font-size: var(--mt-heading-font-size-m);
  overflow-wrap: break-word;
  padding: 50px;
}

@media (min-width: 1025px) {
  .product-support > div > div > .link {
    width: 30%;
  }
}