/* header and nav layout */
header .nav-wrapper {
  background-color: var(--mt-background-color-primary);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  display: grid;
  grid-template:
    'hamburger brand tools' var(--mt-nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 2em;
  margin: auto;
  max-width: 1264px;
  height: var(--mt-nav-height);
  padding: 0 1rem;
}

header nav[aria-expanded="true"] {
  grid-template:
    'hamburger brand' var(--mt-nav-height)
    'sections sections' 1fr
    'tools tools' var(--mt-nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;
}

@media (min-width: 600px) {
  header nav {
    padding: 0 2rem;
  }
}

@media (min-width: 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--mt-background-color-primary);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (min-width: 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--mt-heading-font-size-m);
  font-weight: var(--mt-font-weight-heavy);
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}

header nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--mt-body-font-size-s);
  font-weight: var(--mt-font-weight-bold);
}

header nav .nav-sections ul > li {
  font-weight: var(--mt-font-weight-heavy);
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: var(--mt-font-weight-bold);
}

@media (min-width: 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: .5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    top: unset;
    bottom: .5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 2em;
    margin: 0;
    font-size: var(--mt-body-font-size-m);
    color: var(--mt-global-color-base-primary);
  }

  header nav .nav-sections > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: var(--mt-font-weight-bold);
  }

  header nav .nav-sections > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    white-space: initial;
  }

  header nav .nav-sections > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }

  header nav .nav-sections > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}

header nav .nav-search {
  display: flex;
  align-items: center;
}

header nav .nav-search-aside {
  position: absolute;
  left: 0;
  top: var(--mt-nav-height);
  height: calc(100vh - var(--mt-nav-height));
  width: 100%;
  background-color: white;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav .nav-search-aside-empty {
  background-color: rgba(0 0 0 / 80%);
}

header nav .nav-search-input {
  position: absolute;
  right: 60px;
}

header nav .icon-search {
  position: absolute;
  right: 30px;
}

input[type='search'] {
  appearance: textfield;
  outline-offset:-2px;
  border: 1px solid #666;
  border-radius: 3px;
  padding: .5rem 1rem;
  overflow:visible;
  display: inline-block;
  max-width: 100%;
  text-align: left;
  font-size:16px
}

input[type='search']:focus {
  border-color: #333;
  outline:0 none
}

header nav .nav-search-result-title {
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  width: 80%;
  padding-top: 20px;
}

header nav .nav-search-result-title-divider {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  width: 80%;
}

header nav .nav-search-result-title-divider-separator {
  width: 50%;
  margin: 0 auto;
  border-top-color: rgb(228 231 235);
  border-top-style: solid;
}

header nav .nav-search-wrapper {
  width: 60%;
  box-shadow: 2px 12px 28px 0 rgba(28 28 73 / 25%);
  margin-bottom: 0;
  margin-top: 20px;
  padding: 0 30px;
}

header nav .nav-search-title {
  color: #5F8DDA;
  font-weight: 500;
  margin-bottom: 14px;
}

header nav .nav-search-description {
  margin-bottom: 25px;
  font-size: 1rem;
}