/* Header colors */
:root {
  --mt-header-color-nav-icons: #3a3a3a;
  --mt-header-menu-items-fint-color:#ffffff8f;
  --mt-header-menu-second-level-nav-color: #54006c61;
  --mt-header-menu-border-color: #752A8A;
  --mt-header-menu-item-selected-color: #54006c70;

    /* nav height */
  --mt-nav-height: 90px;
}  


header {
  height: var(--mt-nav-height);
}

/* header and nav layout */
header .nav-wrapper {
  background-color: var(--mt-background-color-primary);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 15px 10px;
  box-shadow: 0 0 8px 0 #00000026;
  height: 85px;
  font-family: var(--mt-nav-nav-item-font-family);
}

header nav.narrow {
  height: 60px;
}

header nav p {
  margin: 0;
  line-height: 0.7;
}

header nav a:any-link {
  color: currentcolor;
  width: 100%;
}

/* hamburger */
header nav .nav-hamburger {
  display: flex;
  width: 100%;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--mt-background-color-primary);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  line-height: 1.1;
}

/* brand */
header .nav-brand {
  font-size: var(--mt-heading-font-size-l);
  font-weight: var(--mt-font-weight-heavy);
  line-height: 1;
  padding: 10px;
  display: flex;
  align-items: center;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

header nav .nav-brand .scrolling-logo {
  height: 40px;
  width: 40px;
}

header nav .nav-brand .logo-hidden {
  display: none;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}

header nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: var(--mt-font-weight-bold);
}

.icon-logo {
  width: 200px;
  height: 22px;
}

header nav .nav-tools .icon-search {
  width: 21px;
  height: 21px;
}

@media (max-width: 1024px) {
  header nav .nav-brand {
    width: 75%;
  }

  header nav .nav-hamburger {
    width: 15%;
    padding: 10px;
  }

  header nav .nav-tools {
    display: flex;
    width: 10%;
    justify-content: center;
  }

  header nav .nav-hamburger-icon {
    display: flex;
    min-width: 35px;
    min-height: 35px;
    justify-content: center;
}

  header nav .nav-hamburger-icon::before {
    content: '\f0c9';
    font-family: var(--mt-nav-button-icons-font-family);
    color: var(--mt-header-color-nav-icons);
    font-size: 20px;
  }

  header nav[aria-expanded="true"] .nav-sections > ul > li[aria-expanded="false"] > ul, 
  header nav[aria-expanded="true"] .nav-sections > ul > li:not([aria-expanded]) > ul {
    display: none;
  }

  header nav[aria-expanded="true"] .nav-sections {
    position: absolute;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: var(--mt-global-color-base-primary);
    color: var(--mt-global-color-white);
    font-size: var(--mt-font-size-100);
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    top: 0;
  }

  header nav[aria-expanded="true"] .nav-sections > ul > li[aria-expanded="true"] > ul {
    position: absolute;
    width: 300px;
    right: 0;
    top: 0;
    height: 100%;
    background-color: var(--mt-global-color-base-primary);
    color: var(--mt-global-color-white);
    font-size: var(--mt-font-size-100);
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  header nav[aria-expanded="true"] .nav-sections > ul > li {
    padding-top: 10px;
    padding-bottom: 10px;
  }  

  header nav[aria-expanded="true"] .nav-sections > ul > li > ul > li{
    padding-top: 10px;
    padding-bottom: 10px;
  }  
  
  header nav .nav-sections > ul > li.nav-multilevel[aria-expanded="true"] > ul > li {
    text-transform: uppercase;
    text-align: center;
    color: var(--mt-header-menu-items-fint-color);
    font-size: var(--mt-font-size-80);
    font-weight: var(--mt-font-weight-bolder);
    letter-spacing: 3px;
    padding: 10px;
  }

  header nav .nav-sections > ul > li.nav-multilevel[aria-expanded="true"] > ul > li > ul {
    display: flex;
    flex-direction: column;
    background-color: var(--mt-header-menu-second-level-nav-color);
    color: var(--mt-global-color-white);
    text-transform: none;
    text-align: initial;
    row-gap: unset;
    font-size: var(--mt-font-size-90);
    font-weight: var(--mt-font-weight-regular);
    letter-spacing: normal;
  }

  header nav .nav-sections > ul > li.nav-multilevel[aria-expanded="true"] > ul > li > ul > li{
    padding: 10px;
  }

  .mobile-menu-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
  }

  .mobile-menu-controls > .mobile-menu-back::before {
    content: "\f00d";
    color: var(--mt-header-color-nav-icons);
    font-family: var(--mt-nav-button-icons-font-family);
    font-weight: 900;
    font-size: var(--mt-font-size-100);
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }

  li.nav-drop {
    display: flex;
    justify-content: space-between;
  }

  li.nav-drop::after {
    content: "\f105";
    color: var(--mt-header-color-nav-icons);
    font-family: var(--mt-nav-button-icons-font-family);
    height: 30px;
  }
}

@media (min-width: 1025px) {
  .mobile-menu-controls {
    display: none;
  }
  
  .icon-logo {
    width: 136px;
  }

  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }

  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
    position: inherit;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: .5em;
    right: -10px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  } 

  header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    top: unset;
    bottom: .5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    margin: 0;
    font-size: var(--mt-font-size-90);
    color: var(--mt-global-color-base-primary);
  }

  header nav .nav-sections > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: var(--mt-font-weight-bold);
  }

  header nav .nav-sections > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections > ul > li > ul > li {
    padding: 8px 0;
  }

  header nav .nav-sections > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: absolute;
    left: -1em;
    margin-top: 12px;
    white-space: nowrap;
    background-color: var(--mt-global-color-base-primary);
    border-style: solid;
    border-width: 5px;
    border-color: var(--mt-header-menu-border-color);
    color: var(--mt-global-color-white);
    gap: unset;
  }

  header nav .nav-sections > ul > li[aria-expanded="true"] > ul > li {
    padding: 10px;
  }

  header nav .nav-sections > ul > li[aria-expanded="true"] > ul > li:hover {
    background-color: var(--mt-header-menu-item-selected-color);
  }

  header nav .nav-sections > ul > li.nav-multilevel[aria-expanded="true"] > ul {
    display: flex;
  }

  header nav .nav-sections > ul > li.nav-multilevel[aria-expanded="true"] > ul > li {
    text-transform: uppercase;
    text-align: center;
    color: var(--mt-header-menu-items-fint-color);
  }

  header nav .nav-sections > ul > li.nav-multilevel[aria-expanded="true"] > ul > li > ul > li{
    padding: 10px;
  }

  header nav .nav-sections > ul > li.nav-multilevel[aria-expanded="true"] > ul > li > ul {
    display: flex;
    flex-direction: column;
    background-color: var(--mt-header-menu-second-level-nav-color);
    color: var(--mt-global-color-white);
    text-transform: none;
    text-align: initial;
    row-gap: unset;
  }

  header nav .nav-sections > ul > li.nav-multilevel[aria-expanded="true"] > ul > li:hover {
    background-color: var(--mt-global-color-base-primary);
  }

  header nav .nav-sections > ul > li.nav-multilevel[aria-expanded="true"] > ul > li > ul > li:hover{
    background-color: var(--mt-header-menu-item-selected-color);
  }

  header nav .nav-sections > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }
}
