/* Header colors */
:root {
  --mt-header-color-nav-icons: #3a3a3a;
  --mt-header-menu-items-fint-color:#ffffff8f;
  --mt-header-search-input-color: #D7D7D7;
  --mt-header-menu-second-level-nav-color: #54006c61;
  --mt-header-menu-border-color: #752A8A;
  --mt-header-menu-item-selected-color: #54006c70;

    /* nav height */
  --mt-nav-content-height: 55px;

  /* nav width */
  --mt-nav-width: 300px;

  /* padding */
  --mt-nav-padding: 10px;
  --mt-nav-padding-m: 20px;

  /* line heights */
  --mt-nav-selections-desktop: 1.35rem;
  --mt-nav-desktop-multilevel-line-height: 1.25rem;

  /* font weights */
  --mt-nav-desktop-multilevel-font-weight: var(--mt-font-weight-regular);
  --mt-nav-desktop-font-weight: var(--mt-font-weight-bold);

  /* font sizes */
  --mt-nav-multilevel-font-size: var(--mt-font-size-90);
  --mt-nav-desktop-multilevel-section-title-font-size: var(--mt-font-size-80);

  /* font families */
  --mt-nav-nav-item-font-family: -apple-system,blinkmacsystemfont,segoe ui,roboto,helvetica neue,arial,aoto aans,sans-serif;
  --mt-nav-desktop-multilevel-font-family: var(--mt-body-font-family);

  /* transition timing */
  --mt-nav-transition-timing: cubic-bezier(0.76, 0.34, 1, 1);
}

/* header and nav layout */
header .nav-wrapper {
  background-color: var(--mt-background-color-primary);
  width: 100%;
  z-index: 2;
  position: fixed;
  box-shadow: 0 0 8px 0 #00000026;
}

header nav {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 15px var(--mt-nav-padding);
  height: 85px;
  font-family: var(--mt-nav-nav-item-font-family);
  max-width: 1300px;
}

header nav.narrow {
  height: 60px;
}

header nav p {
  margin: 0;
  line-height: 0.7;
}

header nav a:any-link {
  color: currentcolor;
  width: 100%;
}

/* hamburger */
header nav .nav-hamburger {
  display: flex;
  width: 15%;
  padding: var(--mt-nav-padding);
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--mt-background-color-primary);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 1.1;
}

/* brand */
header .nav-brand {
  font-size: var(--mt-heading-font-size-l);
  font-weight: var(--mt-font-weight-heavy);
  line-height: 1;
  padding: var(--mt-nav-padding);
  display: flex;
  align-items: center;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

header nav .nav-brand .scrolling-logo {
  height: 40px;
  width: 40px;
}

header nav .nav-brand .logo-hidden {
  display: none;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  visibility: visible;
  position: absolute;
  right: calc(0px - var(--mt-nav-width));
  width: var(--mt-nav-width);
  height: 100vh;
  background-color: var(--mt-global-color-base-primary);
  color: var(--mt-global-color-white);
  font-size: var(--mt-font-size-100);
  padding: var(--mt-nav-padding-m);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  top: 0;
  z-index: 100;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  position: relative;
  left: 0;
  transition: left 300ms var(--mt-nav-transition-timing);
}

header nav .nav-sections picture {
  margin-right: 6px;
}

header nav .nav-sections > ul > li {
  padding-top: var(--mt-nav-padding);
  padding-bottom: var(--mt-nav-padding);
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: var(--mt-nav-desktop-font-weight);
}

header nav .nav-sections > ul > li > ul > li {
  padding-top: var(--mt-nav-padding);
  padding-bottom: var(--mt-nav-padding);
}

header nav .nav-sections ul > li[aria-expanded="true"] > ul > li > a {
  font-weight: var(--mt-nav-desktop-multilevel-font-weight);
}

header nav .nav-sections ul > li > ul > li > ul {
  display: block;
  background-color: var(--mt-header-menu-second-level-nav-color);
  border-radius: 4px;
  margin-top: 10px;
  padding-left: 0;
}

header nav .nav-sections ul > li > ul > li:has(ul) {
  color: var(--mt-header-menu-items-fint-color);
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

header nav .nav-sections ul > li > ul > li > ul > li {
  color: var(--mt-global-color-white);
  font-weight: var(--mt-nav-desktop-multilevel-font-weight);
  text-transform: none;
  padding: var(--mt-nav-padding);
  letter-spacing: normal;
  text-align: left;
}

header nav .nav-sections ul > li > ul > li:has(ul):hover {
  background-color: inherit;
}

header nav .nav-sections ul > li > ul > li > ul > li:hover {
  background-color: var(--mt-header-menu-item-selected-color);
}

.icon-logo {
  width: 200px;
  height: 22px;
}

header nav .icon-search {
  position: absolute;
  right: 30px;
}

header nav .nav-tools .icon-search {
  width: 21px;
  height: 21px;
}

header nav .nav-brand {
  width: 75%;
}

header nav .nav-tools {
  display: flex;
  width: 10%;
  justify-content: center;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 18px;
  height: 3px;
  border-radius: 3px;
  background: currentcolor;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav .nav-hamburger-icon::before {
  top: -6px;
}

header nav .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  display: none;
}

header nav .nav-sections ul:has(li[aria-expanded="true"]) {
  left: calc(0px - var(--mt-nav-width));
}

header nav .nav-sections > ul > li[aria-expanded="false"] > ul,
header nav .nav-sections > ul > li:not([aria-expanded]) > ul {
  display: none;
}

header nav[aria-expanded="true"] .nav-sections {
  right: 0;
}

header nav .nav-mobile-cover {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000080;
  visibility: hidden;
  opacity: 0;
}

header nav[aria-expanded="true"] .nav-mobile-cover {
  animation: 300ms fade-in;
  animation-timing-function: var(--mt-nav-transition-timing);
  transition: width 300ms var(--mt-nav-transition-timing);
  visibility: visible;
  opacity: 1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

header nav .nav-sections > ul > li[aria-expanded="true"] > ul {
  position: absolute;
  width: var(--mt-nav-width);
  left: calc(var(--mt-nav-width) - var(--mt-nav-padding-m));
  top: 0;
  height: 100%;
  background-color: var(--mt-global-color-base-primary);
  color: var(--mt-global-color-white);
  font-size: var(--mt-font-size-100);
  padding: var(--mt-nav-padding-m);
  display: flex;
  flex-direction: column;
  z-index: 200;
}

header nav .nav-sections > ul > li.nav-multilevel[aria-expanded="true"] > ul > li {
  text-transform: uppercase;
  text-align: center;
  color: var(--mt-header-menu-items-fint-color);
  font-size: var(--mt-nav-desktop-multilevel-section-title-font-size);
  font-weight: var(--mt-font-weight-boldest);
  font-family: var(--mt-nav-desktop-multilevel-font-family);
  line-height: 1;
  letter-spacing: 3px;
  padding: var(--mt-nav-padding);
}

header nav .nav-sections > ul > li.nav-multilevel[aria-expanded="true"] > ul > li > ul {
  display: flex;
  flex-direction: column;
  background-color: var(--mt-header-menu-second-level-nav-color);
  color: var(--mt-global-color-white);
  text-transform: none;
  text-align: initial;
  row-gap: unset;
  font-size: var(--mt-nav-multilevel-font-size);
  font-weight: var(--mt-font-weight-regular);
  letter-spacing: normal;
  margin: var(--mt-nav-padding) var(--mt-nav-padding) 0;
}

header nav .nav-sections > ul > li.nav-multilevel[aria-expanded="true"] > ul > li > ul > li{
  padding: var(--mt-nav-padding);
  font-size: var(--mt-nav-multilevel-font-size);
  font-weight: var(--mt-nav-desktop-multilevel-font-weight);
  line-height: var(--mt-nav-desktop-multilevel-line-height);
  font-family: var(--mt-nav-desktop-multilevel-font-family);
  letter-spacing: normal;
}

.mobile-menu-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2px 0 0;
}

.mobile-menu-controls > .mobile-menu-back {
  background: var(--mt-header-color-nav-icons);
  height: 13px;
  position: relative;
  width: 3px;
  transform: rotate(45deg);
  border-radius: 2px;
  cursor: pointer;
}

.mobile-menu-controls > .mobile-menu-back::after {
  background: var(--mt-header-color-nav-icons);
  content: "";
  height: 3px;
  left: -5px;
  position: absolute;
  top: 5px;
  border-radius: 2px;
  width: 13px;
}

li.nav-drop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}


li.nav-drop:has(ul)::after {
  content: '';
  display: inline-block;
  color: var(--mt-header-color-nav-icons);
  transform: rotate(45deg);
  width: 8px;
  height: 8px;
  border-style: solid;
  border-radius: 0 2px 0 0;
  border-width: 3px 3px 0 0;
}

header nav .nav-search {
  display: flex;
  align-items: center;
}

header nav .nav-search-aside {
  position: absolute;
  left: 0;
  top: var(--mt-nav-height);
  height: calc(100vh - var(--mt-nav-height));
  width: 100%;
  background-color: var(--mt-global-color-white);
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav input[type='search'].nav-search-input  {
  position: absolute;
  right: 60px;
  padding: 0 24px;
  min-height: 48px;
  height: auto;
  border-radius: 0;
  font-family: var(--mt-body-font-family);
  font-size: var(--mt-body-font-size-m);
  border: 2px solid var(--mt-header-search-input-color);
  outline: none;appearance: textfield;
  outline-offset: -2px;
  overflow: visible;
  display: inline-block;
  width: 350px;
  max-width: 70%;
  text-align: left;
}

header nav .nav-search-result-title {
  font-size: var(--mt-button-line-height);
  font-weight: var(--mt-font-weight-heavy);
  color: var(--mt-heading-color-secondary);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  width: 80%;
  padding-top: var(--mt-nav-padding-m);
  overflow-wrap: break-word;
}

header nav .nav-search-result-title-divider {
  text-align: center;
  padding-top: var(--mt-nav-padding-m);
  padding-bottom: var(--mt-nav-padding-m);
  display: flex;
  width: 80%;
}

header nav .nav-search-result-title-divider-separator {
  width: 50%;
  margin: 0 auto;
  border-top-color: var(--mt-global-color-accent-tertiary);
  border-top-style: solid;
}

header nav .nav-search-wrapper {
  width: 60%;
  box-shadow: 2px 12px 28px 0 rgba(28 28 73 / 25%);
  margin-bottom: 0;
  margin-top: var(--mt-nav-padding-m);
  padding: 0 30px;
}

header nav .nav-search-title {
  color: var(--mt-global-color-accent-primary);
  font-weight: var(--mt-font-weight-bold);
  margin-bottom: 14px;
  overflow-wrap: break-word;
}

header nav .nav-search-description {
  margin-bottom: 25px;
  font-size: var(--mt-body-font-size-m);
  overflow-wrap: break-word;
}

@media (min-width: 1025px) {
  header nav .nav-mobile-cover {
    display: none;
  }

  header nav .nav-sections ul {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin: 0;
    font-size: var(--mt-font-size-90);
    color: var(--mt-global-color-base-primary);
    padding-left: revert;
  }

  header nav .nav-sections > ul > li > ul {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 35px;
    left: -1em;
    margin-top: 12px;
    white-space: nowrap;
    background-color: var(--mt-global-color-base-primary);
    border-style: solid;
    border-width: 5px;
    border-color: var(--mt-header-menu-border-color);
    color: var(--mt-global-color-white);
    gap: unset;
    transition: top 300ms ease;
    min-width: 200px;
    padding-left: 0;
  }

  header nav .nav-drop > ul:has(li):has(ul) {
    left: -15em;
  }

  header nav .nav-sections ul > li > ul:has(li):has(ul) {
    display: flex !important;
    color: var(--mt-global-color-white);
  }

  header nav .nav-sections > ul > li[aria-expanded="false"] > ul,
  header nav .nav-sections > ul > li:not([aria-expanded]) > ul {
    display: block;
  }

  header nav .nav-brand {
    width: 100%;
  }

  .mobile-menu-controls {
    display: none;
  }

  header nav .icon {
    width: 136px;
  }

  header nav .icon-logo {
    width: 200px;
    height: 15px;
  }

  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }

  header nav .nav-sections {
    display: block;
    white-space: nowrap;
    line-height: var(--mt-nav-selections-desktop);
    align-self: unset;
    position: inherit;
    background-color: transparent;
    overflow-y: initial;
    width: 100%;
    height: initial;
  }

  header nav .nav-sections .nav-drop,
  header nav .nav-sections .nav-button{
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    height: var(--mt-nav-content-height);
    padding-right: 2em;
  }

  header nav .nav-sections .nav-button {
    padding-right: unset;
  }

  header nav .nav-sections .nav-drop:last-child {
    padding-left: 2em;
  }

  header nav .nav-sections .nav-button a {
    border: 1px solid var(--mt-global-color-base-primary);
    padding: 7px 10px;
    border-radius: 5px;
    margin-left: 10px;
  }

  header nav .nav-sections .nav-button .btn-invert {
    background-color: var(--mt-global-color-base-primary);
    color: white;
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    top: unset;
    bottom: .5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: var(--mt-font-size-90);
    color: var(--mt-global-color-base-primary);
  }

  header nav .nav-sections > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: var(--mt-font-weight-bold);
    padding: 0;
  }

  header nav .nav-sections > ul > li > ul > li {
    padding: var(--mt-nav-padding) 15px;
  }

  header nav .nav-sections > ul > li > ul > li:hover {
    background-color: var(--mt-header-menu-item-selected-color);
  }

  header nav .nav-sections > ul > li:hover > ul {
    visibility: visible;
    opacity: 1;
    top: 25px;
    z-index: 1000;
  }

  header nav .nav-sections > ul > li[aria-expanded="true"] > ul > li {
    padding: var(--mt-nav-padding);
  }

  header nav .nav-sections > ul > li[aria-expanded="true"] > ul > li:hover {
    background-color: var(--mt-header-menu-item-selected-color);
  }

  header nav .nav-sections > ul > li.nav-multilevel[aria-expanded="true"] > ul {
    display: flex;
    font-family: var(--mt-nav-desktop-multilevel-font-family);
  }

  header nav .nav-sections > ul > li.nav-multilevel[aria-expanded="true"] > ul > li {
    text-transform: uppercase;
    text-align: center;
    color: var(--mt-header-menu-items-fint-color);
    font-size: var(--mt-nav-desktop-multilevel-section-title-font-size);
    font-weight: var(--mt-font-weight-boldest);
    line-height: 1;
    letter-spacing: 3px;
  }

  header nav .nav-sections > ul > li.nav-multilevel[aria-expanded="true"] > ul > li > ul {
    display: flex;
    flex-direction: column;
    background-color: var(--mt-header-menu-second-level-nav-color);
    color: var(--mt-global-color-white);
    text-transform: none;
    text-align: initial;
    row-gap: unset;
    margin: 10px;
  }

  header nav .nav-sections > ul > li.nav-multilevel[aria-expanded="true"] > ul > li > ul > li {
    font-size: var(--mt-nav-multilevel-font-size);
    font-weight: var(--mt-nav-desktop-multilevel-font-weight);
    line-height: var(--mt-nav-desktop-multilevel-line-height);
    letter-spacing: normal;
    padding: var(--mt-nav-padding);
  }

  header nav .nav-sections > ul > li.nav-multilevel[aria-expanded="true"] > ul > li:hover {
    background-color: var(--mt-global-color-base-primary);
  }

  header nav .nav-sections > ul > li.nav-multilevel[aria-expanded="true"] > ul > li > ul > li:hover{
    background-color: var(--mt-header-menu-item-selected-color);
  }

  header nav .nav-sections > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }

  header nav .nav-tools {
    display: block;
    width: 100%;
    padding-right: 24px;
  }

  li.nav-drop:has(ul)::after {
    display: none;
  }
}
