/* footer overrides */

body.refresh footer {
    background-color: var(--mt-global-color-base-primary);
    margin: 0;
    padding: 7% 5% 5%;
    position: relative; /* needed to absolutely position logos in lower right and top left corners */
}

/* override color and font size of various elements */
body.refresh footer .columns h1 {
    color: var(--mt-background-color-primary);
}

body.refresh footer .columns ul li a[href] {
    color: var(--mt-background-color-primary);
    font-size: var(--mt-footer-font-size-footer-m);
}

body.refresh footer .columns > div > div:nth-child(5) > p a[href] {
    color: var(--mt-background-color-primary);
}

body.refresh footer > .footer > div > div:last-child > ul {
    color: var(--mt-background-color-primary);
}

body > footer > div > div > div:nth-child(2) > ul > li:nth-child(1) span {
    font-size: var(--mt-footer-font-size-footer-m);
}

/* set color of all SVG icons */

body.refresh footer svg {
    fill: currentcolor;
    color: var(--mt-background-color-primary);
}

/* position small logo top left */

body.refresh footer a[aria-label="logo-small"] {
    display: none;
    color: var(--mt-background-color-primary);
    position: absolute;
    left: 2%;
    top: 8%;
}

body.refresh footer a[aria-label="logo-small"] span.icon-logo-small,
body.refresh footer a[aria-label="logo-small"] span.icon-logo-small svg {
    width: 40px;
    height: 40px;
}

/* position big logo bottom right */

body.refresh footer > .footer > div > div:last-child > ul > li:nth-child(2) > a[href] {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

body.refresh footer > .footer > div > div:last-child span.icon-logo,
body.refresh footer > .footer > div > div:last-child span.icon-logo svg {
    width: 250px;
    height: 30px;
}

/* left-align headquarters column - use more specific selector than in footer.css (loaded later) */
body.refresh > footer > div > div > div:nth-child(1) > div > div > div:nth-child(5) > p {
    text-align: left;
}

@media (min-width: 768px) {
    body.refresh footer > .footer > div > div:last-child > ul > li:nth-child(2) > a[href] {
        bottom: 10%;
    }
}

@media (min-width: 1024px) {
    body.refresh footer a[aria-label="logo-small"] {
        display: block;
        left: 2%;
        top: 5%;
    }

    body.refresh footer > .footer > div > div:last-child > ul > li:nth-child(2) > a[href] {
        bottom: 13%;
    }
}

@media (min-width: 1400px) {
    body.refresh footer a[aria-label="logo-small"] span.icon-logo-small,
    body.refresh footer a[aria-label="logo-small"] span.icon-logo-small svg {
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 1500px) {
    body.refresh footer a[aria-label="logo-small"] {
        left: 4%;
        top: 10%;
    }
}
