.pdf-viewer.block > div > div.button-container > a {
    display: none;
}

.pdf-viewer.block .pdf-embed {
    width: 100%;
    height: 100%;
    max-height: 800px;
    max-width: 1200px;
    border: 1px solid var(--mt-global-color-gallery);
}
