.section.hero-video-container {
  padding: 0;
  margin: 0;
}

.hero-image, .hero-image picture {
    object-fit: cover;
    user-select: none;
    position: relative;
}

.hero-image img {
    align-items: center;
    width: 100%;
    min-height: 400px;
}

.icon-playvideo {
  position: absolute;
  top: 40%;
  left: 75%;
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
  fill: var(--mt-background-color-primary);
  filter: drop-shadow(0 0 1rem black);
}

.product-ref-container:nth-child(1) {
  display: none;
}

.product-ref-container:nth-child(2) {
  position: absolute;
  top: 0;
  height: 100%;
  pointer-events: auto;
  z-index: 3;
}

.product-ref-container div > a:nth-child(3) {
  display: none;
  z-index: inherit;
}

.product-ref-container > div > a > button {
  height: 35px;
  width: 80% !important;
  border-radius: 100px;
}

.hero-copy {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  top: 0;
  height: 65%;
  align-items: flex-start;
  padding: 7%;
  flex: 1;
}

.hero-copy h1 {
  color: var(--mt-heading-color-primary);
  text-align: left;
}

.hero-copy h2{ 
  font-weight: var(--mt-font-weight-thin);
}

p > a.hero-video:nth-child(1) {
  display: none;
}

@media (max-width: 768px) {
  /* .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */

  /* .hero-image {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
  } */

  .hero-image img {
    object-fit: cover;
    object-position: right;
  }

  .icon-playvideo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero-copy {
    position: static; /* REMOVE absolute positioning */
    margin-top: 1rem;
    padding: 0 1rem;
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .hero-copy h1 {
    text-align: center;
  }

  .product-ref-container:nth-child(2) {
    position: static; /* REMOVE absolute positioning */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  .product-ref-container > div > a > button {
    width: 80% !important;
  }
}
