:root {
    --mt-global-horizontal-line-color: #EBE4E7;
}

.line .hr-line-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: calc(26px + 10px + 3%) 0 0;
}

.line .hr-line {
    display: flex;
    content: "";
    height: 4px;
    background-color: var(--mt-global-horizontal-line-color);

}
