.product-reference > div {
  display: flex;
  max-width: 1200px;
  margin: auto;
  flex-direction: column;
}

@media (min-width: 1025px) {
  .product-reference > div {
    flex-direction: row;
  }
}

.product-ref-container {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
}

.product-ref-container > div {
  width: 25rem;
}

.product-ref-container > div > a > button {
  width: 100%;
  margin: 10px;
}

.product-ref-container > div > img {
  object-position: center center;
  object-fit: contain;
  width: 100%;
  height: 20rem;
}