.one-trust {
    padding: 16px 0;
}

.otnotice-content .otnotice-sections .otnotice-section-header{
    text-align:left !important;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #a03ebb !important;
}
