/* Prev-Next bottom navigation */
.prev-next {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Bottom Nav box */
.prev-next > div {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-auto-rows: auto;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}

@media screen and (min-width: 767px) {
    .prev-next > div {
        width: 918px;
    }
}

.prev-next .vertical-line {
    border-left: 1px solid var(--mt-global-color-line-grey);
    height: 100%;
    content: '';
    align-items: center;
}

/* Previous and Next buttons */
.prev-next > div > div:first-child > a,
.prev-next > div > div:last-child > a {
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    overflow: hidden;
}

/* Previous button box */
.prev-next > div > div:first-child > a {
    grid-template-columns: auto 1fr;
    grid-column-gap: 6px;
}

/* Next button box */
.prev-next > div > div:last-child > a {
    grid-template-columns: 1fr auto;
    justify-items: end;
    grid-column-gap: 8px;
}

/* Prev and Next Button */
.prev-next a .prev-next-button {
    color: var(--mt-prev-next-button-text-color);
    font-size: var(--mt-prev-next-button-font-size);
    font-weight: var(--mt-prev-next-button-font-weight);
    line-height: var(--mt-prev-next-button-line-height);
    letter-spacing: 1.7px;
    text-transform: uppercase;
    grid-row: 1 / 2;
}


/* Prev and Next header link */
.prev-next a .prev-next-header-link {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
    width: 100%;
    color: var(--mt-prev-next-header-link-text-color);
    line-height: var(--mt-prev-next-header-link-line-height);
    font-size: var(--mt-heading-font-size-m);
    font-weight: var(--mt-prev-next-header-link);
    white-space: nowrap;
    grid-row: 2 / 3;
}

/* Truncate previous header link */
.prev-next > div > div:first-child > a > .prev-next-header-link{
    text-align: left;
    padding-right: 5px;
}

/* Truncate next header link */
.prev-next > div > div:last-child > a > .prev-next-header-link {
    text-align: right;
    padding-left: 5px;
}

/* Left PREVIOUS button */
.prev-next a .left-arrow,
.prev-next a .right-arrow{
    grid-row: 1 / 3;
    align-items: center;
}

/* Right NEXT button */
.prev-next a .right-arrow {
    grid-column: 2 / 3;
}

.prev-next .bottom-spacer {
    content: '';
    height: 42px;
}
