
main .section.hero-carousel-container {
    padding: 0;
    margin: 0;
}

.hero-carousel.slider-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 7vh;
    min-height: 350px;
}

.hero-carousel .slider {
    display: flex;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 7vh;
    min-height: 350px;
}

.hero-carousel .slider>div {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    flex: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.hero-carousel .slider>div.text-align-center {
    justify-content: center;
}

.hero-carousel .slider>div.text-align-right {
    justify-content: flex-end;
}

.hero-carousel .slider>div>div:first-child {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    z-index: 3;
    padding: 0 3%;
    flex: 1;
}

.hero-carousel .slider>div>div:last-child {
    z-index: 1;
}

.hero-carousel .slider>div>div picture {
    width: 110%;
}

.hero-carousel .slider>div>div picture img {
    width: 5000px;
    height: 7vh;
    min-height: 350px;
    object-fit: cover;
    -webkit-user-select: none;
    user-select: none;
}

.hero-carousel .slider>div>div picture img.position-left {
    object-position: 45% center;
}

.hero-carousel .slider>div>div picture img.position-right {
    object-position: 95% center;
}

.hero-carousel .slider>div>div>h1 {
    color: var(--mt-heading-color-primary);
    font-size: var(--mt-heading-font-size-mobile-xl);
    text-align: left;
}

.hero-carousel .slider>div>div>p {
    font-size: var(--mt-body-font-size-xs);
    line-height: 1.05rem;
    text-align: left;
}

.hero-carousel .slider>div .button-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 4%;
}

@media (width <= 460px) {
    .hero-carousel.slider-wrapper {
        height: 60vh;
    }

    .hero-carousel .slider>div>div picture img {
        position: absolute;
        top: -80%;
    }

    .hero-carousel .dotted-nav .dot {
        cursor: pointer;
        pointer-events: all;
    }
}

@media (width <= 1024px) {
    .hero-carousel .slider>div .button-row > .button-container > a.button.primary {
        max-width: 300px;
        white-space: normal;
        overflow: visible;
        text-overflow: clip;
        border-radius: 34px;
        padding: 8px 15px;
        font-size: var(--mt-body-font-size-xs);
    }
}

@media (width >=860px) {
    .hero-carousel .slider>div .button-row {
        flex-direction: row;
        gap: 5%;
    }
}

.hero-carousel .slider .hide {
    opacity: 0;
    transition-property: margin-left;
}

.hero-carousel .slider .show {
    transition-duration: 500ms;
    transition-property: opacity;
    left: 0;
}

.hero-carousel.slider-wrapper .dotted-nav {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 20px;
    z-index: 4;
    margin: 8px 0;
    bottom: 20px;
}

.hero-carousel .dotted-nav .dot {
    margin: 6px;
    border: 4px solid var(--mt-hero-carousel-active-dot-color);
    border-radius: 50%;
    width: 8px;
    height: 8px;
    padding: 0;
    flex-shrink: 0;
    pointer-events: none;
}

.hero-carousel .dotted-nav .inactive {
    border-color: var(--mt-hero-carousel-inactive-dot-color);
}

@media (width >=768px) {
    .hero-carousel .slider>div>div.white-overlay {
        all: unset;
    }

    .hero-carousel .slider>div>div:first-child {
        padding: 3%;
    }

    .hero-carousel .slider>div.text-align-center>div {
        align-items: center;
    }

    .hero-carousel .slider>div.text-align-center>div h1,
    .hero-carousel .slider>div.text-align-center>div p {
        text-align: center;
    }

    .hero-carousel .slider>div.text-align-center .button-row {
        align-items: center;
    }

    .hero-carousel .dotted-nav .dot {
        cursor: pointer;
        pointer-events: all;
    }
}

@media (width >=1280px) {
    .hero-carousel.slider-wrapper,
    .hero-carousel .slider,
    .hero-carousel .slider>div>div picture img {
        height: 10vh;
        min-height: 500px;
    }

    .hero-carousel .slider>div>div>h1 {
        font-size: var(--mt-heading-font-size-mobile-xxl);
    }

    .hero-carousel .slider>div>div>p {
        font-size: var(--mt-body-font-size-m);
        line-height: var(--mt-body-text-medium-line-height);
    }

    .hero-carousel .slider>div>div picture img.position-left {
        object-position: 7% center;
    }

    .hero-carousel .slider>div>div picture img.position-right {
        object-position: 93% center;
    }

    .hero-carousel .slider>div>div:first-child {
        padding: 4%;
        width: 45%;
    }

    .hero-carousel .slider>div .button-row>.button-container>a.button.primary {
        font-size: var(--mt-body-font-size-s);
    }
}

@media (width >=1400px) {
    .hero-carousel.slider-wrapper,
    .hero-carousel .slider,
    .hero-carousel .slider>div>div picture img {
        height: 50vh;
        min-height: 500px;
    }

    .hero-carousel .slider>div>div picture img.position-left {
        object-position: 5% center;
    }

    .hero-carousel .slider>div>div picture img.position-right {
        object-position: 95% center;
    }

    .hero-carousel .slider>div>div:first-child {
        padding: 4%;
        width: 42%;
    }
}

@media (width >=1540px) {
    .hero-carousel.slider-wrapper,
    .hero-carousel .slider,
    .hero-carousel .slider>div>div picture img {
        height: 67vh;
        min-height: 500px;
    }

    .hero-carousel .slider>div>div:first-child {
        padding: 4%;
        width: 41%;
    }

    .hero-carousel .slider>div>div picture img.position-left {
        object-position: 3% center;
    }

    .hero-carousel .slider>div>div picture img.position-right {
        object-position: 97% center;
    }
}