footer {
  margin: 0;
  padding: 7% 5% 5%;
  position: relative; /* needed to absolutely position logos in lower right and top left corners */
  background-color: var(--mt-footer-background-color-primary);
  color: var(--mt-text-color-inverted);
  font-size: var(--mt-body-font-size-m);
}

footer svg {
  fill: currentcolor;
  color: var(--mt-footer-icon-color-primary);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

/* container for footer nav and copyright */
footer .footer > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* two columns for mobile */
footer .columns > div {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 10px;
}

footer .columns > div div {
  display: block;
  width: 48%;
  padding-left: 10px;
}

/* small logo on the top left */
footer a[aria-label="logo-small"] {
  display: none;
  position: absolute;
  left: 2%;
  top: 8%;
}

footer a[aria-label="logo-small"] span.icon-logo-small,
footer a[aria-label="logo-small"] span.icon-logo-small svg {
  width: 40px;
  height: 40px;
}

footer .columns > div > div:nth-child(5) > p {
  text-align: left;
}

footer span.icon-danahertrustmark {
  height: 60px;
  width: 78px;
}

footer .footer > div > div:last-child {
  margin-top: 30px;
}

footer .footer > div > div:last-child > p {
  margin-top: 15px;
}

/* flex container for footer nav larger displays */
@media (min-width: 768px) {
  footer .columns > div {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
  }

  footer .columns > div div {
    width: unset;
    padding-left: 10px;
  }

  footer .footer > div > div:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  footer .footer > div > div:last-child > p {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    justify-self: start;
    align-self: end;
  }

  footer .footer > div > div:last-child > p:first-child {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: start;
    align-self: start;
  }

  footer .footer > div > div:last-child > p:last-child {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    justify-self: end;
    align-self: center;
  }
}

/* flex items for footer links */
footer .columns ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  line-height: 24px;
  margin-top: 3%;
}

/* footer nav links */
footer .columns ul li {
  margin-top: 6px;
  padding-bottom: 6px;
}

footer .columns ul li:first-of-type {
  margin-top: 3%;
  padding-bottom: 6px;
}

footer .columns ul li:last-of-type {
  margin-top: 6px;
}

footer .columns ul li a[href] {
  text-decoration: none;
  color: var(--mt-link-inverted-color);
  line-height: var(--mt-body-line-height);
  height: auto;
  font-size: var(--mt-footer-font-size-footer-m);
}


/* footer nav headlines for mobile */
footer .columns h1 {
  font-size: var(--mt-footer-font-size-footer-s);
  font-family: var(--mt-body-font-family-bolder);
  font-weight: var(--mt-font-weight-bolder);
  color: var(--mt-heading-color-inverted);
  margin-top: unset;
  margin-bottom: 20px;
  padding-bottom: 3%;
  text-align: left;
}

/* footer nav headlines larger display */
@media (min-width: 768px) {
  footer .columns h1 {
    font-size: var(--mt-heading-font-size-m);
  }
}

/* flex container for social media icons */
footer .columns > div > div:nth-child(4) > ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 25px;
}

/* social media icon scale */
footer .columns > div > div:nth-child(4) .icon svg {
  transform: scale(1.25);
}


/* flex item, Headquarter address
 left align for mobile */
footer .columns > div > div:nth-child(5) > h1:first-of-type {
  text-align: left;
  margin-bottom: 25px;
}

footer .columns > div > div:nth-child(5) > h1:not(:first-of-type) {
    text-align: left;
    margin-top: 30px;
}

/* flex item, Headquarter address
right align for larger screen */
@media (min-width: 768px) {
  footer .columns > div > div:nth-child(5) > h1:first-of-type,
  footer .columns > div > div:nth-child(5) > p {
    line-height: unset;
  }

  footer .columns > div > div:nth-child(5) > h1:not(:first-of-type){
    margin-top: 30px;
  }
}

footer .columns > div > div:nth-child(5) > p a[href] {
  color: var(--mt-background-color-primary);
  font-size: var(--mt-footer-font-size-footer-m);
}

/* Copyright and Logo (mobile) */
footer > .footer > div > div:last-child > ul {
  display: flex;
  flex-direction: column;
  font-family: var(--mt-body-font-family-thin);
  font-weight: var(--mt-font-weight-thin);
  font-size: var(--mt-footer-font-size-footer-m);
  margin-top: 28px;
  list-style: none;
  padding-left: 10px;
}

/* copyright text (mobile) */
footer > .footer > div > div:last-child > ul > li:first-child {
  text-decoration: none;
  margin-bottom: 10px;
}

/* logo item (mobile) */
footer > .footer > div > div:last-child > ul > li:last-child {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* corp logo (mobile) */
footer > .footer > div > div:last-child span.icon-logo {
  width: 200px;
  height: 23px;
}

/* position big logo bottom right */
footer > .footer > div > div:last-child > ul > li:nth-child(2) > a[href] {
  position: absolute;
  bottom: 2%;
  right: 5%;
}

footer > .footer > div > div:last-child span.icon-logo,
footer > .footer > div > div:last-child span.icon-logo svg {
  width: 250px;
  height: 30px;
  color: var(--mt-footer-icon-color-primary);
}

/* breakpoints for small and big logos */
@media (min-width: 600px) {
  footer > .footer > div > div:last-child > ul > li:nth-child(2) > a[href] {
    bottom: 8%;
  }
}

@media (min-width: 1024px) {
  footer a[aria-label="logo-small"] {
    display: block;
    left: 2%;
    top: 5%;
  }

  footer > .footer > div > div:last-child > ul > li:nth-child(2) > a[href] {
    bottom: 13%;
  }
}

@media (min-width: 1400px) {
  footer a[aria-label="logo-small"] span.icon-logo-small,
  footer a[aria-label="logo-small"] span.icon-logo-small svg {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 1500px) {
  footer a[aria-label="logo-small"] {
    left: 4%;
    top: 10%;
  }
}

/* Copyright and logo (larger screens) */
@media (min-width: 768px){
  /* flex container */
  footer > .footer > div > div:last-child > ul {
    flex-direction: row;
  }

  footer > .footer > div > div:last-child > ul > li {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  /* copyright text */
  footer > .footer > div > div:last-child > ul > li:first-child {
    font-size: var(--mt-footer-font-size-footer-m);
  }

  footer > .footer > div > div:last-child > ul > li:nth-child(2) > a[href] {
    font-size: var(--mt-footer-font-size-footer-s);
  }

  /* corp logo */
  footer > .footer > div > div:last-child > ul > li:last-child {
    margin: 0;
    text-align: right;
  }
}
