footer {
  padding: 2rem;
  background-color: var(--mt-background-color-primary);
  font-size: var(--mt-font-size-100);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

/* container for footer nav and copyright */
footer .footer > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* flex container for footer nav */
footer .columns > div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
}

@media (max-width: 768px) {
  footer .columns > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
  }
}

/* flex items for footer links */
footer .columns ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  line-height: 24px;
}

/* footer nav links */
footer .columns ul li {
  margin-top: 6px;
  padding-bottom: 6px;
}

footer .columns ul li:first-of-type {
  padding-bottom: 6px;
}

footer .columns ul li:last-of-type {
  margin-top: 6px;
}

footer .columns ul li a[href] {
  text-decoration: none;
  color: var(--mt-global-color-accent-quinary);
  line-height: var(--mt-body-line-height);
  height: auto;
}

/* footer nav headlines */
footer .columns h5 {
  font-size: var(--mt-font-size-100);
  font-weight: var(--mt-font-weight-bolder);
  color: var(--mt-global-color-accent-quaternary);
  margin-top: unset;
  margin-bottom: 20px;
}

/* mobile */
@media screen and (max-width: 768px) {
  footer .columns h5 {
    font-size: var(--mt-font-size-80);
    font-weight: var(--mt-font-weight-bolder);
    color: var(--mt-global-color-accent-quaternary);
    margin-top: unset;
    margin-bottom: 20px;

  }
}

/* flex container for social media icons */
footer .columns > div > div:nth-child(4) > ul {
  display: flex;
  justify-content: space-between;
  gap: 21px;
}

/* social media icon */
footer .columns > div > div:nth-child(4) .icon svg {
  width: 25px;
  height: 25px
}

/* flex item, Headquarter address right align */

/* mobile=left align else right */
@media (min-width: 768px){
  footer .columns > div > div:nth-child(5) > p,
  footer .columns > div > div:nth-child(5) > h5 {
  text-align: right;
  }
}

footer .columns > div > div:nth-child(5) > p a[href] {
  color: var(--mt-global-color-accent-quaternary);
}

/* copyright section */
footer > .footer > div > div:nth-child(2) > p {
  color: var(--mt-global-color-accent-quaternary);
  font-weight: var(--mt-font-weight-thin);
  margin-top: 60px;
}

/* copyright link */
footer > .footer > div > div:nth-child(2) > p > a[href] {
  font-size: var(--mt-font-size-80);
  color: var(--mt-global-color-accent-quaternary);
  text-decoration: none;
}

/* logo */
footer > .footer > div > div:nth-child(2) .icon  {
  width: 103px;
  float: right;
  display: inline-block;
}
