footer {
  padding: 2rem;
  background-color: var(--mt-background-color-primary);
  font-size: var(--mt-body-font-size-m);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

/* container for footer nav and copyright */
footer .footer > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



/* two columns for mobile */
footer .columns > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
  column-gap: 10px;
}

footer .columns > div div {
  width: 40%;
  padding-left: 10px;
}


/* flex container for footer nav larger displays */
@media (min-width: 768px) {
  footer .columns > div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 10px;
  }

  footer .columns > div div {
    width: unset;
    padding-left: 10px;
  }
}

/* flex items for footer links */
footer .columns ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  line-height: 24px;
  margin-top: 3%;
}

/* footer nav links */
footer .columns ul li {
  margin-top: 6px;
  padding-bottom: 6px;
}

footer .columns ul li:first-of-type {
  margin-top: 3%;
  padding-bottom: 6px;
}

footer .columns ul li:last-of-type {
  margin-top: 6px;
}

footer .columns ul li a[href] {
  text-decoration: none;
  color: var(--mt-global-color-accent-quinary);
  line-height: var(--mt-body-line-height);
  height: auto;
}


/* footer nav headlines for mobile */
footer .columns h5 {
  font-size: var(--mt-footer-font-size-footer-s);
  font-weight: var(--mt-font-weight-bolder);
  color: var(--mt-global-color-accent-quaternary);
  margin-top: unset;
  margin-bottom: 20px;
  padding-bottom: 3%;
}

/* footer nav headlines larger display */
@media (min-width: 768px) {
  footer .columns h5 {
    font-size: var(--mt-heading-font-size-s);
  }
}

/* flex container for social media icons */
footer .columns > div > div:nth-child(4) > ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 21px;
}

/* social media icon */
footer .columns > div > div:nth-child(4) .icon svg {
  width: 25px;
  height: 25px
}

/* flex item, Headquarter address
 left align for mobile */
footer .columns > div > div:nth-child(5) > h5 {
  text-align: left;
  margin-bottom: 25px;
}

footer .columns > div > div:nth-child(5) > p {
  text-align: left;
}

/* flex item, Headquarter address
right align for larger screen */
@media (min-width: 768px) {
  footer .columns > div > div:nth-child(5) > h5,
  footer .columns > div > div:nth-child(5) > p {
    text-align: right;
  }
}


footer .columns > div > div:nth-child(5) > p a[href] {
  color: var(--mt-global-color-accent-quaternary);
}

/* copyright text for mobile */
footer > .footer > div > div:nth-child(2) > p {
  color: var(--mt-global-color-accent-quaternary);
  font-weight: var(--mt-font-weight-thin);
  font-size: var(--mt-footer-font-size-footer-m);
  line-height: var(--mt-footer-line-height-s);
  margin-top: 28px;
  padding-left: 10px;
}


/* copyright link for mobile */
footer > .footer > div > div:nth-child(2) > p > a[href] {
  font-size: var(--mt-footer-font-size-footer-m);
  color: var(--mt-global-color-accent-quaternary);
  text-decoration: none;
  display: block;
  margin-top: 20px;
}

/* copyright text larger displays */
@media (min-width: 768px) {
  footer > .footer > div > div:nth-child(2) > p {
    font-size: var(--mt-body-font-size-m);
    margin-top: 75px;
  }

  footer > .footer > div > div:nth-child(2) > p > a[href] {
    font-size: var(--mt-footer-font-size-footer-s);
    line-height: var(--mt-footer-line-height-xs);
  }
}

/* logo larger mobile */
footer > .footer > div > div:nth-child(2) .icon {
  width: 103px;
  text-align: left;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* logo for larger display */
@media (min-width: 768px) {
  footer > .footer > div > div:nth-child(2) .icon {
    display: inline-block;
    float: right;
    margin-top: -40px;
  }
}

