@font-face {
    font-family: 'Roboto Flex';
    src: url('/fonts/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf');
    font-weight: 300 400 500 600 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Flex';
    src: url('/fonts/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf');
    font-weight: 300 400 500 600 900;
    font-style: italic;
}

