/*
 * Copyright 2023 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
@font-face {
  font-family: "robotoflex-regular-normal-400-fallback";
  size-adjust: 98%;
  src: local("Arial");
}

:root {
  /* global colors */
  --mt-global-color-base-primary: #84329B;
  --mt-global-color-base-secondary: #3D3E40;
  --mt-global-color-accent-primary: #5F8DDA;
  --mt-global-color-accent-secondary: #487ED9;
  --mt-global-color-accent-tertiary: #78aaff24;
  --mt-global-color-white: #fff;

  /* feature background colors */
  --mt-background-color-primary: var(--mt-global-color-white);
  --mt-button-background-color-primary: var(--mt-global-color-accent-primary);
  --mt-button-background-color-seconary: var(--mt-global-color-white);
  --mt-input-background-color: var(--mt-background-color-primary);

  /* border colors */
  --mt-button-border-color-primary: var(--mt-global-color-accent-primary);
  --mt-button-border-color-secondary: var(--mt-button-border-color-primary);
  --mt-input-border-color: var(--mt-global-color-base-secondary);

  /* feature colors */
  --mt-button-color-primary: var(--mt-global-color-white);
  --mt-button-color-secondary: var(--mt-global-color-accent-primary);
  --mt-button-hover-color-primary: var(--mt-global-color-accent-secondary);
  --mt-button-hover-color-secondary: var(--mt-global-color-accent-tertiary);
  --mt-heading-color-primary: var(--mt-global-color-base-secondary);
  --mt-heading-color-secondary: var(--mt-global-color-base-primary);
  --mt-input-color: var(--mt-text-color);
  --mt-input-hover-color: var(--mt-text-color);
  --mt-link-color: var(--mt-global-color-accent-primary);
  --mt-link-hover-color: var(--mt-global-color-accent-secondary);
  --mt-text-color: var(--mt-global-color-base-secondary);

  /* fonts families */
  --mt-body-font-family: robotoflex-regular, "robotoflex-regular-normal-400-fallback", sans-serif;
  --mt-fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* font weights */
  --mt-font-weight-thin: 300;
  --mt-font-weight-regular: 400;
  --mt-font-weight-bold: 500;
  --mt-font-weight-bolder: 700;
  --mt-font-weight-heavy: 900;

  /* feature font weights */
  --mt-body-font-weight: var(--mt-font-weight-regular);
  --mt-button-font-weight: var(--mt-font-weight-bolder);

  /* font sizes */
  --mt-font-size-50: 0.5rem;
  --mt-font-size-75: 0.75rem;
  --mt-font-size-80: 0.8rem;
  --mt-font-size-90: 0.9rem;
  --mt-font-size-100: 1rem;
  --mt-font-size-125: 1.25rem;
  --mt-font-size-130: 1.3rem;
  --mt-font-size-150: 1.5rem;
  --mt-font-size-175: 1.75rem;
  --mt-font-size-200: 2rem;
  --mt-font-size-250: 2.5rem;

  /* line heights */
  --mt-body-line-height: 1.5rem;
  --mt-button-line-height: 1rem;

  /* feature font sizes */
  --mt-body-font-size-m: var(--mt-font-size-100);
  --mt-body-font-size-s: var(--mt-font-size-75);
  --mt-body-font-size-xs: var(--mt-font-size-50);
  --mt-button-font-size: var(--mt-font-size-90);
  --mt-heading-font-size-xxl: var(--mt-font-size-250);
  --mt-heading-font-size-xl: var(--mt-font-size-200);
  --mt-heading-font-size-l: var(--mt-font-size-150);
  --mt-heading-font-size-m: var(--mt-font-size-130);
  --mt-heading-font-size-s: var(--mt-font-size-100);
  --mt-heading-font-size-xs: var(--mt-font-size-75);
  --mt-input-font-size: var(--mt-font-size-175);

  /* nav height */
  --mt-nav-height: 64px;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: var(--mt-body-font-size-m);
  font-family: var(--mt-body-font-family);
  font-weight: var(--mt-body-font-weight);
  line-height: var(--mt-body-line-height);
  color: var(--mt-text-color);
  background-color: var(--mt-background-color-primary);
}

header {
  height: var(--mt-nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0.5rem 0 1rem;
  font-weight: var(--mt-font-weight-bold);
  line-height: 1.2;
  color: var(--mt-heading-color-secondary);
}

h1 {
  font-size: var(--mt-heading-font-size-xxl);
  color: var(--mt-heading-color-primary);
}

h2 {
  font-size: var(--mt-heading-font-size-s);
  font-weight: var(--mt-font-weight-heavy);
  text-transform: uppercase;
}

h3 {
  font-size: var(--mt-heading-font-size-m);
}

h4 {
  font-size: var(--mt-heading-font-size-s);
}

h5 {
  font-size: var(--mt-heading-font-size-xs);
}

h6 {
  font-size: var(--mt-heading-font-size-xs);
}

p, dl, ol, ul, pre, blockquote {
  margin: 0 0 0.9rem;
}

code, pre, samp {
  font-family: var(--mt-fixed-font-family);
  font-size: var(--mt-body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

a:any-link {
  color: var(--mt-link-color);
  text-decoration: none;
}

a:hover {
  color: var(--mt-link-hover-color);
}

/* buttons */
a.button:any-link, button {
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  padding: 15px 50px;
  margin: 0;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--mt-button-font-size);
  font-weight: var(--mt-button-font-weight);
  line-height: var(--mt-button-line-height);
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: all .3s;
}

a.button.primary, button.primary {
  color: var(--mt-button-color-primary);
  background-color: var(--mt-button-background-color-primary);
  border-color: var(--mt-button-border-color-primary);
}

a.button.primary:hover,
button.primary:hover,
a.button.primary:focus,
button.primary:focus {
  background-color: var(--mt-button-hover-color-primary);
}

button:disabled, button:disabled:hover {
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border-color: var(--mt-button-border-color-secondary);
  color: var(--mt-button-color-secondary);
}

a.button.secondary:hover,
button.secondary:hover,
a.button.secondary:focus,
button.secondary:focus {
  background-color: var(--mt-button-hover-color-secondary);
}

main input {
  font-size: var(--mt-input-font-size);
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--mt-input-border-color);
  color: var(--mt-input-color);
  background-color: var(--mt-input-background-color);
}

main input:hover {
  border: 1px solid var(--mt-input-hover-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

@media (min-width: 1025px) {
  .icon {
    width: 136px;
  }  
}

.icon svg {
  height: 100%;
  width: 100%;
}

main .section {
  padding: 5% 10% 0%;
}

main .section .default-content-wrapper {
  max-width: 1300px;
  margin: auto;
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}
