/*
 * Copyright 2023 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
@font-face {
  font-family: "robotoflex-regular-normal-400-fallback";
  size-adjust: 98%;
  src: local("Arial");
  font-display: swap;
}

:root {
  /* global colors */
  --mt-global-color-base-primary: #84329B;
  --mt-global-color-base-secondary: #3D3E40;
  --mt-global-color-accent-primary: #5F8DDA;
  --mt-global-color-accent-secondary: #487ED9;
  --mt-global-color-accent-tertiary: #78aaff24;
  --mt-global-color-accent-quaternary: #75787B;
  --mt-global-color-accent-quinary: #84329b;
  --mt-global-color-accent-senary: #777;
  --mt-global-color-black: #000;
  --mt-global-color-charcoal: #333;
  --mt-global-color-white: #fff;
  --mt-global-color-orange: #ff5f3f;
  --mt-global-color-oslo-gray: #818a91;
  --mt-global-color-dove-gray: #666;
  --mt-global-color-blue-ribbon: #035fe6;
  --mt-global-color-light-blue: #BECAE9;
  --mt-global-color-silver: #ccc;
  --mt-global-color-alabaste: #F7F7F7;
  --mt-global-color-gallery: #ECECEC;
  --mt-global-color-accent-grey: #BFBFBF;
  --mt-global-color-line-grey: #D5D8DC;
  --mt-global-color-red: #c36;

  /* feature background colors */
  --mt-background-color-primary: var(--mt-global-color-white);
  --mt-background-color-secondary: var(--mt-global-color-black);
  --mt-button-background-color-primary: var(--mt-global-color-accent-primary);
  --mt-button-background-color-seconary: var(--mt-global-color-white);
  --mt-input-background-color: var(--mt-background-color-primary);

  /* border colors */
  --mt-button-border-color-primary: var(--mt-global-color-accent-primary);
  --mt-button-border-color-secondary: var(--mt-button-border-color-primary);
  --mt-input-border-color: var(--mt-global-color-base-secondary);

  /* feature colors */
  --mt-button-color-primary: var(--mt-global-color-white);
  --mt-button-color-secondary: var(--mt-global-color-accent-primary);
  --mt-button-hover-color-primary: var(--mt-global-color-accent-secondary);
  --mt-button-hover-color: #215BBB;
  --mt-button-hover-color-secondary: var(--mt-global-color-accent-tertiary);
  --mt-heading-color-primary: var(--mt-global-color-accent-quinary);
  --mt-heading-color-secondary: var(--mt-global-color-base-primary);
  --mt-heading-color-inverted: var(--mt-global-color-white);
  --mt-input-color: var(--mt-text-color);
  --mt-input-hover-color: var(--mt-text-color);
  --mt-link-color: var(  --mt-global-color-base-primary);
  --mt-link-hover-color: var(--mt-global-color-base-primary);
  --mt-text-color: var(--mt-global-color-base-secondary);
  --mt-text-color-inverted: var(--mt-global-color-white);
  --mt-list-color: var(--mt-global-color-accent-senary);
  --mt-prev-next-button-text-color: var(--mt-global-color-accent-grey);
  --mt-prev-next-header-link-text-color: var(--mt-global-color-base-secondary);
  --mt-top-navigation-actual-page-color: var(--mt-global-color-base-secondary);
  --mt-top-navigation-link-color: var(--mt-global-color-accent-quinary);
  --mt-hero-light-arc-color: var(--mt-global-color-accent-secondary);
  --mt-sarch-result-text-color: var(--mt-global-color-accent-senary);
  --mt-global-horizontal-line-color: #EBE4E7;


  /* fonts families */
  --mt-body-font-family: roboto, "robotoflex-regular-normal-400-fallback", sans-serif;
  --mt-fixed-font-family: roboto-mono, menlo, consolas, 'Liberation Mono', monospace;
  --mt-form-font-family: var(--mt-body-font-family);

  /* font weights */
  --mt-font-weight-thin: 300;
  --mt-font-weight-regular: 400;
  --mt-font-weight-bold: 500;
  --mt-font-weight-bolder: 600;
  --mt-font-weight-boldest: 700;
  --mt-font-weight-heavy: 900;

  /* feature font weights */
  --mt-body-font-weight: var(--mt-font-weight-thin);
  --mt-button-font-weight: var(--mt-font-weight-boldest);
  --mt-prev-next-header-link: var(--mt-font-weight-bold);
  --mt-prev-next-button-font-weight: var(--mt-font-weight-regular);
  --mt-tab-navigation-font-weight: var(--mt-font-weight-bold) ;
  --mt-search-result-font-weight: var(--mt-font-weight-regular);


  /* font sizes */
  --mt-font-size-50: 0.5rem;
  --mt-font-size-75: 0.75rem;
  --mt-font-size-80: 0.8rem;
  --mt-font-size-90: 0.9rem;
  --mt-font-size-100: 1rem;
  --mt-font-size-120: 1.20rem;
  --mt-font-size-125: 1.25rem;
  --mt-font-size-130: 1.3rem;
  --mt-font-size-150: 1.5rem;
  --mt-font-size-162: 1.625rem;
  --mt-font-size-175: 1.75rem;
  --mt-font-size-180: 1.80rem;
  --mt-font-size-185: 1.85rem;
  --mt-font-size-200: 2rem;
  --mt-font-size-215: 2.15rem;
  --mt-font-size-250: 2.5rem;

  /* line heights */
  --mt-body-line-height: 1.5rem;
  --mt-button-line-height: 1rem;
  --mt-footer-line-height-xs: 0.8rem;
  --mt-footer-line-height-s: 0.9rem;
  --mt-footer-line-height-m: 1rem;
  --mt-list-line-height: 1.95rem;
  --mt-hero-line-height-title: 1;
  --mt-hero-line-height-subtitle: 1.5;
  --mt-nav-height: 85px;
  --mt-nav-height-narrow: 60px;
  --mt-prev-next-header-link-line-height: var(--mt-font-size-185);
  --mt-prev-next-button-line-height: var(--mt-font-size-120);

  /* feature font sizes */
  --mt-body-font-size-l: var(--mt-font-size-180);
  --mt-body-font-size-mobile-l: var(--mt-font-size-130);
  --mt-body-font-size-m: var(--mt-font-size-130);
  --mt-body-font-size-s: var(--mt-font-size-100);
  --mt-body-font-size-xs: var(--mt-font-size-75);
  --mt-list-font-size: var(--mt-font-size-100);
  --mt-button-font-size: var(--mt-font-size-90);
  --mt-heading-font-size-xxl: var(--mt-font-size-250);
  --mt-heading-font-size-mobile-xxl: var(--mt-font-size-200);
  --mt-heading-font-size-xl: var(--mt-font-size-180);
  --mt-heading-font-size-mobile-xl: var(--mt-font-size-130);
  --mt-heading-font-size-l: var(--mt-font-size-130);
  --mt-heading-font-size-mobile-l: var(--mt-font-size-100);
  --mt-heading-font-size-m: var(--mt-font-size-100);
  --mt-heading-font-size-mobile-m: var(--mt-font-size-80);
  --mt-heading-font-size-s: var(--mt-font-size-80);
  --mt-heading-font-size-xs: var(--mt-font-size-75);
  --mt-hero-font-size-s: var(--mt-font-size-130);
  --mt-hero-font-size-m: var(--mt-font-size-180);
  --mt-hero-font-size-l: var(--mt-font-size-200);
  --mt-hero-font-size-xl: var(--mt-font-size-250);
  --mt-hero-light-font-size-s: var(--mt-font-size-125);
  --mt-input-font-size: var(--mt-font-size-175);
  --mt-footer-font-size-footer-s: var(--mt-font-size-80);
  --mt-footer-font-size-footer-m: var(--mt-font-size-90);
  --mt-footer-font-size-footer-l: var(--mt-font-size-100);
  --mt-prev-next-button-font-size: var(--mt-font-size-80);
  --mt-prev-next-header-font-size: var(--mt-font-size-125);
  --mt-tab-navigation-font-size: var(--mt-font-size-90);
  --mt-callout-font-size-desktop: var(--mt-font-size-250);
  --mt-callout-font-size-mobile: var(--mt-font-size-200);

  /* history */
  --mt-our-history-color-primary: var(--mt-global-color-base-primary);
  --mt-our-history-color-secondary: var(--mt-global-color-accent-primary);
}

*,
::before,
::after {
  box-sizing: border-box;
}

html, body, main {
  position: relative;
  z-index: -1000;
}

body {
  margin: 0;
  font-size: var(--mt-body-font-size-m);
  font-family: var(--mt-body-font-family);
  font-weight: var(--mt-body-font-weight);
  line-height: var(--mt-body-line-height);
  color: var(--mt-text-color);
  background-color: var(--mt-background-color-primary);
}

header {
  height: var(--mt-nav-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0.5rem 0 1rem;
  font-weight: var(--mt-font-weight-regular);
  line-height: 1.2;
  color: var(--mt-global-color-base-secondary);
  letter-spacing: 0;
}

/* Section styles for heading */

h1 {
  font-size: var(--mt-heading-font-size-mobile-xxl);
}

h2 {
  font-size: var(--mt-heading-font-size-mobile-xl);
}

h3 {
  font-size: var(--mt-heading-font-size-l);
}

h4 {
  font-size: var(--mt-heading-font-size-mobile-m);
}

h5 {
  font-size: var(--mt-heading-font-size-xs);
}

@media (min-width: 767px) {
  h1 {
    font-size: var(--mt-heading-font-size-xxl);
  }

  h2 {
    font-size: var(--mt-heading-font-size-xl);
  }

  h4 {
    font-size: var(--mt-heading-font-size-m);
  }
}

.header-colored h1,
.header-colored h2,
.header-colored h3,
.header-colored h4,
.header-colored h5 {
  color: var(--mt-heading-color-primary);
}

.align-left h1,
.align-left h2,
.align-left h3,
.align-left h4,
.align-left h5 {
  text-align: left;
}

.header-uppercase h1,
.header-uppercase h2,
.header-uppercase h3,
.header-uppercase h4,
.header-uppercase h5 {
  text-transform: uppercase;
}

.header-wide h1,
.header-wide h2,
.header-wide h3,
.header-wide h4,
.header-wide h5 {
  letter-spacing: 4px;
}

.text-wide {
  letter-spacing: 4px;
}

strong {
  font-weight: var(--mt-font-weight-heavy);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin: 0 0 0.9rem;
}

/* UL decoration */
.section ul {
  font-size: var(--mt-list-font-size);
}

.text-large ul {
  font-size: var(--mt-body-font-size-l);
}

.text-small ul {
  font-size: var(--mt-body-font-size-xs);
}

.section .columns ul {
  line-height: 24px;
}


.section .columns li::before {
  top: 0.8rem;
}

sup {
  font-size: var(--mt-font-size-80);
  vertical-align: top;
  position: relative;
  top: -0.65em;
}

p {
  font-size: var(--mt-body-font-size-s);
  line-height: var(--mt-body-line-height);
  font-weight: var(--mt-body-font-weight);
  text-align: center;
}

/* Section style for P */
.text-large p {
  font-size: var(--mt-body-font-size-mobile-l);
  line-height: 1.95rem;
  font-weight: 300;
}

@media (min-width: 767px) {
  .text-large p {
    font-size: var(--mt-body-font-size-l);
    line-height: 2.7rem;
  }
}

.text-medium p {
  font-size: var(--mt-body-font-size-m);
  line-height: 1.95rem;
}

@media (min-width: 767px) {
  p {
    line-height: 2.5rem;
  }
}

.text-small p {
    font-size: var(--mt-body-font-size-xs);
}

.align-left p {
  text-align: left;
}


a:any-link {
  color: var(--mt-link-color);
  text-decoration: none;
}

a:hover {
  color: var(--mt-link-hover-color);
}

/* H and P with background logo gets higher line height */
.accent-primary-solid-background h1,
.accent-primary-solid-background h2,
.accent-primary-solid-background h3,
.accent-primary-solid-background h4,
.accent-primary-solid-background h5,
.accent-primary-solid-background h6,
.accent-primary-solid-background p,
.accent-primary-solid-background a:any-link,
.accent-quinary-solid-background h1,
.accent-quinary-solid-background h2,
.accent-quinary-solid-background h3,
.accent-quinary-solid-background h4,
.accent-quinary-solid-background h5,
.accent-quinary-solid-background h6,
.accent-quinary-solid-background p,
.accent-quinary-solid-background a:any-link,
.accent-secondary-blur-overlay h1,
.accent-secondary-blur-overlay h2,
.accent-secondary-blur-overlay h3,
.accent-secondary-blur-overlay h4,
.accent-secondary-blur-overlay h5,
.accent-secondary-blur-overlay h6,
.accent-secondary-blur-overlay p,
.accent-secondary-blur-overlay a:any-link,
.base-primary-blur-overlay h1,
.base-primary-blur-overlay h2,
.base-primary-blur-overlay h3,
.base-primary-blur-overlay h4,
.base-primary-blur-overlay h5,
.base-primary-blur-overlay h6,
.base-primary-blur-overlay p,
.base-primary-blur-overlay a:any-link,
.gradient-primary-blur-overlay h1,
.gradient-primary-blur-overlay h2,
.gradient-primary-blur-overlay h3,
.gradient-primary-blur-overlay h4,
.gradient-primary-blur-overlay h5,
.gradient-primary-blur-overlay h6,
.gradient-primary-blur-overlay p,
.gradient-primary-blur-overlay a:any-link,
.gradient-secondary-blur-overlay h1,
.gradient-secondary-blur-overlay h2,
.gradient-secondary-blur-overlay h3,
.gradient-secondary-blur-overlay h4,
.gradient-secondary-blur-overlay h5,
.gradient-secondary-blur-overlay h6,
.gradient-secondary-blur-overlay p,
.gradient-secondary-blur-overlay a:any-link,
.logo-primary-background h1,
.logo-primary-background h2,
.logo-primary-background h3,
.logo-primary-background h4,
.logo-primary-background h5,
.logo-primary-background h6,
.logo-primary-background p,
.logo-primary-background a:any-link {
  color: var(--mt-heading-color-inverted);
}

.logo-primary-background h1,
.logo-secondary-background h1,
.logo-primary-background h2,
.logo-secondary-background h2,
.logo-primary-background h3,
.logo-secondary-background h3,
.logo-primary-background h4,
.logo-secondary-background h4,
.logo-primary-background p ,
.logo-secondary-background p {
  line-height: 1.9rem;
  font-size: var(--mt-heading-font-size-l);
  font-weight: var(--mt-font-weight-thin);
  padding: 0 5%;;
}

/* section style  inverted text  */
.section.inverted-text,
.section.inverted-text h1,
.section.inverted-text h2,
.section.inverted-text h3,
.section.inverted-text h4,
.section.inverted-text h5,
.section.inverted-text h6,
.section.inverted-text p
{
  color: var(--mt-heading-color-inverted);
}



@media screen and (min-width: 767px) {
  .logo-primary-background h1,
  .logo-secondary-background h1,
  .logo-primary-background h2,
  .logo-secondary-background h2,
  .logo-primary-background h3,
  .logo-secondary-background h3,
  .logo-primary-background h4,
  .logo-secondary-background h4,
  .logo-primary-background p ,
  .logo-secondary-background p {
    font-size: var(--mt-heading-font-size-xl);
    font-weight: var(--mt-font-weight-regular);
    line-height: 2.7rem;
  }
}

code,
pre,
samp {
  font-family: var(--mt-fixed-font-family);
  font-size: var(--mt-body-font-size-s);
}

code,
samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main {
  overflow: hidden;

}

main pre {
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

/* buttons */
a.button:any-link,
button {
  display: inline-block;
  box-sizing: border-box;
  padding: 15px 50px;
  margin: 0;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--mt-button-font-size);
  font-weight: var(--mt-button-font-weight);
  line-height: var(--mt-button-line-height);
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: all .3s;
}

a.button.primary,
button.primary {
  color: var(--mt-button-color-primary);
  background-color: var(--mt-button-background-color-primary);
  border-color: var(--mt-button-border-color-primary);
}

a.button.primary:hover,
button.primary:hover,
a.button.primary:focus,
button.primary:focus {
  background-color: var(--mt-button-hover-color-primary);
}

button:disabled,
button:disabled:hover {
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border-color: var(--mt-button-border-color-secondary);
  color: var(--mt-button-color-secondary);
}

a.button.secondary:hover,
button.secondary:hover,
a.button.secondary:focus,
button.secondary:focus {
  background-color: var(--mt-button-hover-color-secondary);
}

a.button i.link-icon {
  padding-right: 15px;
}

a.button:has(i.link-icon) span {
  white-space: break-spaces;
  text-align: left;
}

a.button:has(i.link-icon) {
  display: flex;
  width: 100%;
  font-weight: var(--mt-body-font-weight);
  align-items: center;
  background: none;
  border: none;
  color: var(--mt-global-color-accent-primary);
}

a.button:has(i.link-icon):hover {
  background: none;
}

main input {
  font-size: var(--mt-input-font-size);
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--mt-input-border-color);
  color: var(--mt-input-color);
  background-color: var(--mt-input-background-color);
}

main input:hover {
  border: 1px solid var(--mt-input-hover-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon svg {
  height: 100%;
  width: 100%;
}

a.button i.link-icon svg {
  width: 1.25em;
  fill: var(--mt-global-color-accent-primary);;
}

main .section{
  padding: 5% 10% 0;
  position: relative;
}

main .section.attached {
  padding-top: 10px
}

main .section .default-content-wrapper {
  max-width: 1300px;
  margin: auto;
}

.section.callout .default-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

/* Narrow content section metadata */
main .section.narrow .default-content-wrapper {
  max-width: 610px;
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

/* callout block */
.section.callout {
  padding: 10% 0;
}

.section.logo-primary-background.callout.arc-top,
.section.logo-secondary-background.callout.arc-top,
.section.callout.arc-top {
  padding: 0 0 10%;
}

.section.callout h1,
.section.callout h2,
.section.callout h3 {
  font-size: var(--mt-callout-font-size-mobile);
  font-weight: var(--mt-font-weight-regular);
  line-height: 1.5em;
  padding: 3% 5%;
  margin: 0;
  width: 100%;
}

main .section.our-history h2 {
  text-align: center;
  color: var(--mt-our-history-color-primary);
  font-size: var(--mt-body-font-size-m);
  font-weight: var(--mt-font-weight-heavy);
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 100px;
}

main .contact .default-content-wrapper h2,
main .schedule-demo .default-content-wrapper h2 {
  text-align: center;
  font-size: var(--mt-heading-font-size-xl);
  font-weight: var(--mt-font-weight-regular);
  text-transform: none;
  margin: 0 5px;
  padding-bottom: 40px;
}

main .schedule-demo .default-content-wrapper h2 {
  font-size: var(--mt-heading-font-size-l);
}

.section.callout.arc-top h1,
.section.callout.arc-top h2,
.section.callout.arc-top h3 {
  padding: 5% 15% 3%;
}

.section.callout .button-container a {
  overflow: inherit;
}

main .section.our-history .year {
  position: relative;
  margin-top: 120px;
}

main .section.our-history .year .description {
  display: flex;
  flex-flow: column;
  position: relative;
  transition: background-color 0.5s linear;
  background-color: var(--mt-our-history-color-secondary);
  box-shadow: 8px 22px 50px 0 rgb(28 28 73 / 40%);
  font-size: var(--mt-body-font-size-m);
  color: var(--mt-background-color-primary);
  border-radius: 4px;
  padding: 30px 50px;
  width: 100%;
}

main .section.our-history .year.highlight .description {
  background-color: var(--mt-our-history-color-primary);
}

main .section.our-history .year h3 {
  order: 2;
  font-size: var(--mt-font-size-100);
  color: var(--mt-background-color-primary);
}

.section.arc-after-section p {
  text-align: left;
}

main .section.our-history .year .description p {
  order: 3;
}

main .section.our-history .year .description p:has(img) {
  order: 1;
  text-align: center;
}

main .section.our-history .year .icon-calendar {
  display: flex;
  background-color: var(--mt-our-history-color-secondary);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -55px;
  left: 50%;
  margin-left: -20px;
  justify-content: center;
  align-items: center;
}

main .section.our-history .year .icon-calendar svg {
  width: 40%;
  height: 40%;
}

main .section.our-history .year::after {
  background-color: var(--mt-our-history-color-secondary);
  display: inline-block;
  width: 4px;
  content: '';
  position: absolute;
  top: -45%;
  left: 50%;
  margin-left: -2px;
  z-index: -1;
  height: 145%;
}

main .section.our-history .year.highlight::after {
  background-color: var(--mt-our-history-color-primary);
}

main .section.our-history .year:first-of-type::after {
  top: -20%;
  height: 120%;
}

main .section.our-history .year.highlight .icon-calendar {
  transform: scale(1.2);
  transition: background-color 0.5s linear;
  background-color: var(--mt-our-history-color-primary);
}

@media screen and (max-width: 530px) {
  main .section.our-history .year:first-of-type::after {
    top: -5%;
  }
}

@media screen and (max-width: 767px) {
  main .section {
    padding: 5% 5% 0;
  }
}

@media screen and (min-width: 767px) {
  .section.callout h1,
  .section.callout h2,
  .section.callout h3 {
    font-size: var(--mt-callout-font-size-desktop);
  }

  main .section.our-history .year .description {
    width: 43%;
  }

  main .section.our-history .year .icon-calendar {
    top: 40%;
  }

  main .section.our-history .year h3 {
    position: absolute;
    top: 40%;
    left: 130%;
    color: var(--mt-our-history-color-secondary);
  }

  main .section.our-history .year:nth-child(even) h3 {
    left: -40%;
  }

  main .section.our-history .year:nth-child(even) .description {
    position: relative;
    left: 57%;
  }

  main .section.our-history .year.year.highlight h3 {
    color: var(--mt-our-history-color-primary);
  }

  main .section.our-history .year:first-of-type::after {
    top: 40%;
  }

  main .section.our-history .year:last-of-type::after {
    height: 85%;
  }
}

/* STYLED SECTIONS */

/* stylelint-disable-next-line no-descending-specificity */
.section.gradient-primary-blur-overlay,
.section.gradient-secondary-blur-overlay,
.section.accent-secondary-blur-overlay,
.section.base-primary-blur-overlay {
  position: relative;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}


.section.gradient-primary-blur-overlay::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  content: '';
  background-color: transparent;
  background-image: linear-gradient(180deg, rgba(58 2 149 / 59%) 13%, rgba(82 150 209 / 85%) 83%);
  opacity: 0.61;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}


.section.gradient-secondary-blur-overlay::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  content: '';
  background-color: transparent;
  background-image: linear-gradient(180deg, rgba(0 15 41 / 70%) 45%, rgba(0 15 41 / 32%) 67%);
  opacity: 0.61;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.section.base-primary-blur-overlay::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  content: '';
  background-color: var(--mt-global-color-base-primary);
  opacity: 0.8;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}


.section.accent-secondary-blur-overlay::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  content: '';
  background-color: var(--mt-global-color-accent-secondary);
  opacity: 0.8;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.section.accent-primary-solid-background {
  background-color: var(--mt-global-color-accent-primary);
}

.section.accent-quinary-solid-background {
  background-color: var(--mt-global-color-accent-quinary);
  z-index: 0;
}

.section.logo-secondary-background {
  background-image: url('/styles/icons/Mammotome-BG_Pattern-2.svg');
  background-position: center center;
  background-repeat: repeat;
  background-size: 60px auto;
  background-color: #F4F4F4;
  padding: 3% 0;
  position: relative;
  z-index: -1;
}

.section.logo-primary-background {
  background-color: var(--mt-global-color-base-primary);
  background-image: url('/styles/icons/Mammotome-BG_Pattern-1.svg');
  background-position: center center;
  background-repeat: repeat;
  background-size: 60px auto;
  padding: 3% 0;
  position: relative;
  z-index: -1;
}

.section .arc {
  margin: -7% -15% 0;
}

/* stylelint-disable-next-line no-descending-specificity */
.section .arc svg {
  display: block;
  width: 110%;
  max-width: 110%;
  fill: var(--mt-background-color-primary);
  background-color: transparent;
}

/* Position preceding content */
.section.arc-after-section {
  margin-top: -13%;
  position: relative;
}

/* Smaller space for hero light */
.section.arc-after-hero-light {
  margin-top: -7%;
}

.section.arc-top {
  margin-top: -30px;
}

/* Divider as Section Metadata */
.section hr.divider {
  border: 0;
  height: 4px;
  background-color: var(--mt-global-horizontal-line-color);
  width: 50%;
  margin: calc(26px + 10px + 3%) auto auto;
}

.section.spacer {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
