/*
 * Copyright 2023 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
@font-face {
  font-family: "robotoflex-regular-normal-400-fallback";
  size-adjust: 98%;
  src: local("Arial");
}

:root {
  /* global colors */
  --mt-global-color-base-primary: #84329B;
  --mt-global-color-base-secondary: #3D3E40;
  --mt-global-color-accent-primary: #5F8DDA;
  --mt-global-color-accent-secondary: #487ED9;
  --mt-global-color-accent-tertiary: #78aaff24;
  --mt-global-color-accent-quaternary: #75787B;
  --mt-global-color-accent-quinary: #84329b;
  --mt-global-color-accent-senary: #777;
  --mt-global-color-black: #000;
  --mt-global-color-white: #fff;
  --mt-global-color-orange: #ff5f3f;
  --mt-global-color-oslo-gray: #818a91;
  --mt-global-color-dove-gray: #666;
  --mt-global-color-blue-ribbon: #035fe6;
  --mt-global-color-silver: #ccc;
  --mt-global-color-alabaste: #F7F7F7;
  --mt-global-color-gallery: #ECECEC;

  /* feature background colors */
  --mt-background-color-primary: var(--mt-global-color-white);
  --mt-background-color-secondary: var(--mt-global-color-black);
  --mt-button-background-color-primary: var(--mt-global-color-accent-primary);
  --mt-button-background-color-seconary: var(--mt-global-color-white);
  --mt-input-background-color: var(--mt-background-color-primary);

  /* border colors */
  --mt-button-border-color-primary: var(--mt-global-color-accent-primary);
  --mt-button-border-color-secondary: var(--mt-button-border-color-primary);
  --mt-input-border-color: var(--mt-global-color-base-secondary);

  /* feature colors */
  --mt-button-color-primary: var(--mt-global-color-white);
  --mt-button-color-secondary: var(--mt-global-color-accent-primary);
  --mt-button-hover-color-primary: var(--mt-global-color-accent-secondary);
  --mt-button-hover-color-secondary: var(--mt-global-color-accent-tertiary);
  --mt-heading-color-primary: var(--mt-global-color-base-secondary);
  --mt-heading-color-secondary: var(--mt-global-color-base-primary);
  --mt-input-color: var(--mt-text-color);
  --mt-input-hover-color: var(--mt-text-color);
  --mt-link-color: var(--mt-global-color-accent-primary);
  --mt-link-hover-color: var(--mt-global-color-accent-secondary);
  --mt-text-color: var(--mt-global-color-base-secondary);
  --mt-list-color: var(--mt-global-color-accent-senary);

  /* fonts families */
  --mt-body-font-family: robotoflex-regular, "robotoflex-regular-normal-400-fallback", sans-serif;
  --mt-fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* font weights */
  --mt-font-weight-thin: 300;
  --mt-font-weight-regular: 400;
  --mt-font-weight-bold: 500;
  --mt-font-weight-bolder: 600;
  --mt-font-weight-boldest: 700;
  --mt-font-weight-heavy: 900;

  /* feature font weights */
  --mt-body-font-weight: var(--mt-font-weight-regular);
  --mt-button-font-weight: var(--mt-font-weight-bolder);

  /* font sizes */
  --mt-font-size-50: 0.5rem;
  --mt-font-size-75: 0.75rem;
  --mt-font-size-80: 0.8rem;
  --mt-font-size-90: 0.9rem;
  --mt-font-size-100: 1rem;
  --mt-font-size-125: 1.25rem;
  --mt-font-size-130: 1.3rem;
  --mt-font-size-150: 1.5rem;
  --mt-font-size-175: 1.75rem;
  --mt-font-size-180: 1.75rem;
  --mt-font-size-200: 2rem;
  --mt-font-size-215: 2.15rem;
  --mt-font-size-250: 2.5rem;

  /* line heights */
  --mt-body-line-height: 1.5rem;
  --mt-button-line-height: 1rem;
  --mt-footer-line-height-xs: 0.8rem;
  --mt-footer-line-height-s: 0.9rem;
  --mt-footer-line-height-m: 1rem;
  --mt-list-line-height: 1.95rem;
  --mt-hero-line-height-title: 1;
  --mt-hero-line-height-subtitle: 1.5;
  --mt-nav-height: 90px;

  /* feature font sizes */
  --mt-body-font-size-m: var(--mt-font-size-100);
  --mt-body-font-size-s: var(--mt-font-size-75);
  --mt-body-font-size-xs: var(--mt-font-size-50);
  --mt-button-font-size: var(--mt-font-size-90);
  --mt-heading-font-size-xxl: var(--mt-font-size-250);
  --mt-heading-font-size-xl: var(--mt-font-size-200);
  --mt-heading-font-size-l: var(--mt-font-size-150);
  --mt-heading-font-size-m: var(--mt-font-size-130);
  --mt-heading-font-size-s: var(--mt-font-size-100);
  --mt-heading-font-size-xs: var(--mt-font-size-75);
  --mt-hero-font-size-s: var(--mt-font-size-130);
  --mt-hero-font-size-m: var(--mt-font-size-180);
  --mt-hero-font-size-l: var(--mt-font-size-200);
  --mt-hero-font-size-xl: var(--mt-font-size-250);
  --mt-input-font-size: var(--mt-font-size-175);
  --mt-footer-font-size-footer-s: var(--mt-font-size-80);
  --mt-footer-font-size-footer-m: var(--mt-font-size-90);
  --mt-footer-font-size-footer-l: var(--mt-font-size-100);


  /* history */
  --mt-our-history-color-primary: var(--mt-global-color-base-primary);
  --mt-our-history-color-secondary: var(--mt-global-color-accent-primary);
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: var(--mt-body-font-size-m);
  font-family: var(--mt-body-font-family);
  font-weight: var(--mt-body-font-weight);
  line-height: var(--mt-body-line-height);
  color: var(--mt-text-color);
  background-color: var(--mt-background-color-primary);
}

header {
  height: var(--mt-nav-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5rem 0 1rem;
  font-weight: var(--mt-font-weight-bold);
  line-height: 1.2;
  color: var(--mt-heading-color-secondary);
}

h1 {
  font-size: var(--mt-heading-font-size-xxl);
  color: var(--mt-heading-color-primary);
}

h2 {
  font-size: var(--mt-heading-font-size-s);
  font-weight: var(--mt-font-weight-heavy);
  text-transform: uppercase;
}

h3 {
  font-size: var(--mt-heading-font-size-m);
}

h4 {
  font-size: var(--mt-heading-font-size-s);
}

h5 {
  font-size: var(--mt-heading-font-size-xs);
}

h6 {
  font-size: var(--mt-heading-font-size-xs);
}

sup {
  font-size: var(--mt-font-size-50);
  vertical-align: top;
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin: 0 0 0.9rem;
}

code,
pre,
samp {
  font-family: var(--mt-fixed-font-family);
  font-size: var(--mt-body-font-size-s);
}

code,
samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

a:any-link {
  color: var(--mt-link-color);
  text-decoration: none;
}

a:hover {
  color: var(--mt-link-hover-color);
}

/* buttons */
a.button:any-link,
button {
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  padding: 15px 50px;
  margin: 0;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--mt-button-font-size);
  font-weight: var(--mt-button-font-weight);
  line-height: var(--mt-button-line-height);
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: all .3s;
}

a.button.primary,
button.primary {
  color: var(--mt-button-color-primary);
  background-color: var(--mt-button-background-color-primary);
  border-color: var(--mt-button-border-color-primary);
}

a.button.primary:hover,
button.primary:hover,
a.button.primary:focus,
button.primary:focus {
  background-color: var(--mt-button-hover-color-primary);
}

button:disabled,
button:disabled:hover {
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border-color: var(--mt-button-border-color-secondary);
  color: var(--mt-button-color-secondary);
}

a.button.secondary:hover,
button.secondary:hover,
a.button.secondary:focus,
button.secondary:focus {
  background-color: var(--mt-button-hover-color-secondary);
}

main input {
  font-size: var(--mt-input-font-size);
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--mt-input-border-color);
  color: var(--mt-input-color);
  background-color: var(--mt-input-background-color);
}

main input:hover {
  border: 1px solid var(--mt-input-hover-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon svg {
  height: 100%;
  width: 100%;
}

main .section {
  padding: 5% 10% 0;
}

main .section .default-content-wrapper {
  max-width: 1300px;
  margin: auto;
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

/* about-us/our-history */

main .section.our-history h2 {
  text-align: center;
  color: var(--mt-our-history-color-primary);
  font-size: var(--mt-body-font-size-m);
  font-weight: var(--mt-font-weight-heavy);
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 100px;
}

main .section.our-history .year {
  position: relative;
  margin-top: 120px;
}

main .section.our-history .year .description {
  display: flex;
  flex-flow: column;
  position: relative;
  transition: background-color 0.5s linear;
  background-color: var(--mt-our-history-color-secondary);
  box-shadow: 8px 22px 50px 0 rgb(28 28 73 / 40%);
  font-size: var(--mt-body-font-size-m);
  color: var(--mt-background-color-primary);
  border-radius: 4px;
  padding: 30px 50px;
  width: 100%;
}

main .section.our-history .year.highlight .description {
  background-color: var(--mt-our-history-color-primary);
}

main .section.our-history .year h3 {
  order: 2;
  font-size: var(--mt-font-size-100);
  color: var(--mt-background-color-primary);
}

main .contact .default-content-wrapper p,
main .schedule-demo .default-content-wrapper p {
  font-size: var(--mt-heading-font-size-m);
}

main .section.our-history .year .description p {
  order: 3;
}

main .section.our-history .year .description p:has(img) {
  order: 1;
  text-align: center;
}

main .section.our-history .year .icon-calendar {
  display: flex;
  background-color: var(--mt-our-history-color-secondary);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -55px;
  left: 50%;
  margin-left: -20px;
  justify-content: center;
  align-items: center;
}

main .section.our-history .year .icon-calendar svg {
  width: 40%;
  height: 40%;
}

main .section.our-history .year::after {
  background-color: var(--mt-our-history-color-secondary);
  display: inline-block;
  width: 4px;
  content: '';
  position: absolute;
  top: -45%;
  left: 50%;
  margin-left: -2px;
  z-index: -1;
  height: 145%;
}

main .section.our-history .year.highlight::after {
  background-color: var(--mt-our-history-color-primary);
}

main .section.our-history .year:first-of-type::after {
  top: -20%;
  height: 120%;
}

main .section.our-history .year.highlight .icon-calendar {
  transform: scale(1.2);
  transition: background-color 0.5s linear;
  background-color: var(--mt-our-history-color-primary);
}

main:has(.schedule-demo, .contact) {
  padding: 05% 0% 10%;
  background-color: var(--mt-global-color-base-primary);
  background-position: top center;
  background-repeat: repeat;
  background-size: 60px auto;
}

main .innovate .form,
main .study-request .form {
  background-color: var(--mt-global-color-base-primary);
  padding: 2rem 0;
}

main .contact .default-content-wrapper h2,
main .schedule-demo .default-content-wrapper h2 {
  text-align: center;
  font-size: var(--mt-heading-font-size-xl);
  font-weight: var(--mt-font-weight-regular);
  text-transform: none;
  margin: 0 5px;
  padding-bottom: 40px;
}

main .schedule-demo .default-content-wrapper h2 {
  font-size: var(--mt-heading-font-size-l);
}

@media screen and (max-width: 530px) {
  main .section.our-history .year:first-of-type::after {
    top: -5%;
  }
}

@media screen and (min-width: 767px) {
  main .section.our-history .year .description {
    width: 43%;
  }

  main .section.our-history .year .icon-calendar {
    top: 40%;
  }

  main .section.our-history .year h3 {
    position: absolute;
    top: 40%;
    left: 130%;
    color: var(--mt-our-history-color-secondary);
  }

  main .section.our-history .year:nth-child(even) h3 {
    left: -40%;
  }

  main .section.our-history .year:nth-child(even) .description {
    position: relative;
    left: 57%;
  }

  main .section.our-history .year.year.highlight h3 {
    color: var(--mt-our-history-color-primary);
  }

  main .section.our-history .year:first-of-type::after {
    top: 40%;
  }

  main .section.our-history .year:last-of-type::after {
    height: 85%;
  }
}

/* STYLED SECTIONS */

/* stylelint-disable-next-line no-descending-specificity */
.section.inverted-text,
.section.inverted-text h2,
.section.inverted-text h3 {
  color: var(--mt-background-color-primary);
}

.section.gradient-primary-blur-overlay,
.section.gradient-secondary-blur-overlay,
.section.accent-secondary-blur-overlay,
.section.base-primary-blur-overlay {
  position: relative;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}


.section.gradient-primary-blur-overlay::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  content: '';
  background-color: transparent;
  background-image: linear-gradient(180deg, rgba(58 2 149 / 59%) 13%, rgba(82 150 209 / 85%) 83%);
  opacity: 0.61;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}


.section.gradient-secondary-blur-overlay::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  content: '';
  background-color: transparent;
  background-image: linear-gradient(180deg, rgba(0 15 41 / 70%) 45%, rgba(0 15 41 / 32%) 67%);
  opacity: 0.61;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.section.base-primary-blur-overlay::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  content: '';
  background-color: var(--mt-global-color-base-primary);
  opacity: 0.8;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}


.section.accent-secondary-blur-overlay::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  content: '';
  background-color: var(--mt-global-color-accent-secondary);
  opacity: 0.8;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.section.accent-primary-solid-background {
  background-color: var(--mt-global-color-accent-primary);
}

.section.logo-secondary-background {
  background-image: url('/styles/icons/Mammotome-BG_Pattern-2.svg');
  background-position: center center;
  background-repeat: repeat;
  background-size: 60px auto;
}

.section.logo-primary-background {
  background-color: var(--mt-global-color-base-primary);
  background-image: url('/styles/icons/Mammotome-BG_Pattern-1.svg');
  background-position: center center;
  background-repeat: repeat;
  background-size: 60px auto;
}

.section .arc {
  margin: -7% -15% 0;
}

/* stylelint-disable-next-line no-descending-specificity */
.section .arc svg {
  display: block;
  width: 110%;
  max-width: 110%;
  fill: var(--mt-background-color-primary);
  background-color: transparent;
}

/*
  add position:fixed to cookie consent wrapper loaded my GTM in order to improve CLS.
  trade-off: the navigation overlays the cookie consent wrapper and is clickable.
*/
#onetrust-consent-sdk {
  position: fixed;
}
